<div class="list-wrapper h-100">
  <div class="fx-row-vert-cent">
    <div class="arrow"></div>
    <span class="root ml-10">
      <span>Root</span>
    </span>
    <div class="block bg-container"
         [ngClass]="rootBlock?.status">{{ rootBlock?.height || '-' }}</div>
  </div>
  <div class="block-list">
    <div class="p-absolute w-100 overflow-y-auto flex-row align-center flex-wrap">
      <div *ngFor="let block of blocks"
           [ngClass]="block.status"
           class="block bg-container">{{ block.height || '-' }}</div>
    </div>
  </div>
  <div class="fx-row-vert-cent">
    <div class="arrow"></div>
    <span class="best-tip ml-10">
      <span>Best Tip</span>
    </span>
    <div class="block bg-container"
         [ngClass]="bestTipBlock?.status">{{ bestTipBlock?.height || '...' }}</div>
  </div>
</div>
