<div class="flex-column h-100">
  <mina-snark-workers-toolbar [data]="data"></mina-snark-workers-toolbar>
  <mina-horizontal-resizable-container *ngIf="el"
                                       [leftTemplate]="left"
                                       [rightTemplate]="right"
                                       [show]="isActiveRow"
                                       [minWidth]="420"
                                       [maxWidthElement]="el.nativeElement"
                                       localStorageKey="st-side-panel-width">
  </mina-horizontal-resizable-container>
</div>

<ng-template #left>
  <mina-snark-workers-traces-table [data]="data"></mina-snark-workers-traces-table>
</ng-template>

<ng-template #right>
  <mina-snark-workers-side-panel></mina-snark-workers-side-panel>
</ng-template>
