@import 'variables';
@import 'flex';

.tab-group {
	@include flexRowVertCenter();

	.tab {
		min-width: 90px;
		max-width: 140px;
		width: 33%;
		text-align: center;
		border-radius: 6px;
		color: $base-secondary;
		transition: 0.2s;
		background-color: transparent;

		&.selected {
			background-color: $selected-container;
			color: $selected-primary;
		}

		&:hover:not(.selected) {
			background-color: $base-container;
		}
	}
}

textarea {
	height: 600px;
	max-height: 80vh;
	width: 576px;
	max-width: 95vw;
	font-family: $mono-font !important;

	&::-webkit-input-placeholder {
		font-size: 12px;
	}

	&:-moz-placeholder {
		font-size: 12px;
	}
}

.actions button {
	width: 82px;
}
