@import 'variables';
@import 'flex';

.tab-group {
	@include flexRowVertCenter();
	width: 576px;
	max-width: 100%;

	.tab {
		min-width: 90px;
		max-width: 140px;
		width: 33%;
		text-align: center;
		border-radius: 6px;
		color: $base-secondary;
		transition: 0.2s;
		background-color: transparent;

		&.selected {
			background-color: $selected-container;
			color: $selected-primary;
		}

		&:hover:not(.selected) {
			background-color: $base-container;
		}
	}
}

form {
	width: 576px;
	max-width: 100%;
	max-height: 600px;

	textarea {
		font-family: $mono-font !important;

		&::-webkit-input-placeholder {
			font-size: 12px;
		}

		&:-moz-placeholder {
			font-size: 12px;
		}
	}
}

.actions {
	width: 576px;
	max-width: 100%;

	button {
		width: 82px;
	}
}