@import 'variables';

$column-widths: 175px 136px 95px 100px 135px 115px 170px 115px 160px 163px;

.mina-table {
	.row {
		grid-template-columns: $column-widths;
		color: $base-secondary;

		&:not(.head) {
			cursor: pointer;
		}

		&.sorting span.p-relative span.p-absolute {
			top: 0;
			left: 0;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: sum($column-widths);
		overflow-x: hidden;
	}
}
