<div class="mina-table flex-grow overflow-x-auto">
  <div class="row head sorting p-relative pr-12" *ngIf="currentSort">
    <span *ngFor="let th of tableHeads; let i=index"
          (click)="sortTable(th.sort ?? th.name)"
          [class.active]="currentSort.sortBy === (th.sort ?? th.name)"
          [class.p-relative]="th.tooltip"
          class="pointer">
      <span *ngIf="th.tooltip" class="p-absolute w-100 h-100" [tooltip]="th.tooltip" [maxWidth]="400"></span>
      {{ th.name }}
      <span [class.flip]="currentSort.sortDirection === 'descending'"
            [class.show]="currentSort.sortBy === (th.sort ?? th.name)"
            class="mina-icon f-18 icon-200">arrow_upward
      </span>
    </span>
  </div>
  <cdk-virtual-scroll-viewport class="border-bottom border-top h-100 overflow-y-scroll h-minus-lg"
                               [itemSize]="itemSize">
    <div *cdkVirtualFor="let node of blocks; let i=index"
         (click)="onRowClick(node)"
         [class.row-even]="i % 2 === 0"
         class="row">
      <span class="tertiary">{{ node.date }}</span>
      <span>
        <mina-copy [value]="node.hash" [display]="node.hash | truncateMid"></mina-copy>
      </span>
      <span>
        <span (click)="goToScanState(node.height)"
              [tooltip]="'See scan state for this block'"
              [showDelay]="500"
              class="underline">{{ node.height }}</span>
      </span>
      <span class="tertiary">{{ node.globalSlot }}</span>
      <span>{{ node.txCount }}</span>
      <span>{{ node.zkAppsCount }}</span>
      <span>{{ node.totalTxCount }}</span>
      <span>{{ node.snarkCount }}</span>
      <span class="tertiary">
        <mina-copy [value]="node.stagedLedgerHash" [display]="node.stagedLedgerHash | truncateMid" [fullWidth]="false"></mina-copy>
      </span>
      <span class="tertiary">
        <mina-copy [value]="node.snarkedLedgerHash" [display]="node.snarkedLedgerHash | truncateMid" [fullWidth]="false"></mina-copy>
      </span>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
