@import 'variables';

.mina-table {
	.row {
		grid-template-columns: 175px 130px 95px 100px 135px 115px 170px 115px 160px 163px;
		color: $base-secondary;

		&:not(.head) {
			cursor: pointer;

			span.addr:hover > span:last-child {
				text-decoration: underline;
			}
		}

		&.sorting span.p-relative span.p-absolute {
			top: 0;
			left: 0;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: 175px + 130px + 95px + 100px + 135px + 115px + 170px + 115px + 160px + 163px;
		overflow-x: hidden;
	}
}
