@import 'variables';
@import 'layout';

button {
	line-height: 21px;
	border: none;
	font-family: inherit;
	font-weight: 600;
	height: 24px;
	font-size: inherit;
	outline: none;
	border-radius: 4px;

	&:not([disabled]) {
		cursor: pointer;
	}

	&.btn-selected {
		background-color: $selected-container;
		color: $selected-primary;
	}

	&.btn-primary {
		background-color: $base-container;
		color: $base-primary;

		&:hover {
			background-color: $base-divider;
		}
	}

	&.btn-secondary {
		background-color: $base-container;
		color: $base-secondary;

		&:hover {
			background-color: $base-divider;
		}
	}

	&.btn-transparent {
		background-color: unset;
	}

	&.icon-btn {
		width: 24px;
		@include flexRowFullCenter();
	}

	&:disabled {
		opacity: 0.4;
		pointer-events: none;
	}
}
