@import 'variables';
@import 'layout';

.mina-table {
	@include flexColumn();

	.row {
		height: 36px;
		display: grid;

		&.row-even {
			background-color: $base-container;
		}

		&.active {
			background-color: $selected-container;

			> span, a {
				color: $selected-primary !important;
			}
		}

		> span {
			height: 36px;
			line-height: 36px;
			padding-left: 12px;
		}

		&:hover:not(.active):not(.head) {
			background-color: $base-divider;

			* {
				color: $base-primary !important;
			}
		}

		.underline {
			line-height: 12px;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		&.head {
			font-weight: 600;
			color: $base-tertiary;
			text-transform: capitalize;

			&.sorting {
				> span {
					@include flexRowVertCenter();

					.mina-icon {
						transition: 0.2s ease-in-out;
						transform: rotateX(0) translateY(6px);
						margin-top: 1px;
						margin-left: 2px;
						opacity: 0;

						&.show {
							opacity: 1;
							transform: rotateX(0) translateY(0);
						}

						&.flip {
							transform: rotateX(180deg) translateY(0);

							&:not(.show) {
								transform: rotateX(180deg) translateY(6px);
							}
						}
					}

					&:hover,
					&.active {
						color: $base-primary;
						transition: 200ms;

						.mina-icon:not(.show) {
							opacity: 0.5;
							transform: rotateX(0) translateY(0);

							&.flip {
								transform: rotateX(180deg) translateY(0);
							}
						}
					}
				}
			}
		}
	}

	&.active {
		background-color: blue;
		color: #fff;
	}
}

@media (max-width: 700px) {
	.mina-table {
		.row {
			height: initial;
			display: flex;
			background-color: initial !important;
			padding: 5px 10px;

			.mob-row {
				padding: 0 10px;
				border: 1px solid $base-divider;
				background-color: $base-surface;
				border-radius: 6px;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.th, .td {
					display: flex;
					flex-direction: column;

					span {
						height: 40px;
						line-height: 40px;
					}
				}

				.td {
					text-align: right;
				}
			}
		}
	}
}
