<!--<div class="p-relative">-->
<!--  <div #mouseListener class="mouse-listener w-100 h-100 p-absolute"></div>-->
<!--  <canvas height="400" class="w-100 p-relative"-->
<!--          id="myChart"-->
<!--          (mousemove)="onMouseMove($event)">-->
<!--  </canvas>-->
<!--</div>-->
<div id="chart_div"></div>
<!--<div style="width: 100%; height: 500px">-->
<!--  <google-chart-->
<!--      [title]="'test'"-->
<!--      [columns]="chartData.columnNames"-->
<!--      [options]="chartData.options"-->
<!--      [type]="chartData.type"-->
<!--      [data]="chartData.data"-->
<!--  ></google-chart>-->
<!--</div>-->


<div *ngIf="resources?.cpu" class="flex-column">

  <div class="graph-wrapper">
    <!--    <mina-system-resources-graph [title]="'CPU'"-->
    <!--                                 [seriesNames]="[{title: 'Total', field: 'total'}, {title: 'Node', field: 'node'}, {title: 'Validators', field:'validators'}]"-->
    <!--                                 [chartData]="resources.cpu"></mina-system-resources-graph>-->
  </div>
  <div class="graph-wrapper">
    <!--    <mina-system-resources-graph [title]="'RAM'"-->
    <!--                                 [seriesNames]="[{title: 'Total', field: 'total'}, {title: 'Node', field: 'node'}, {title: 'Validators', field:'validators'}]"-->
    <!--                                 [chartData]="resources.memory"></mina-system-resources-graph>-->
  </div>
  <div class="graph-wrapper">
    <!--    <mina-system-resources-graph [title]="'STORAGE SIZE'"-->
    <!--                                 [seriesNames]="[-->
    <!--                                  {title: 'Total', field: 'total'},-->
    <!--                                  {title: 'Block Storage', field: 'blockStorage'},-->
    <!--                                   {title: 'Context Storage', field: 'contextStorage'},-->
    <!--                                    {title: 'Main DB', field:'mainDb'},-->
    <!--                                    {title: 'Debugger', field:'debugger'},-->
    <!--                                    {title: 'Context Stats', field:'stats'},-->
    <!--                                 ]"-->
    <!--                                 [chartData]="resources.storage"></mina-system-resources-graph>-->
  </div>
  <div class="graph-wrapper">
    <!--    <mina-system-resources-graph [title]="'NETWORK IO'"-->
    <!--                                 [seriesNames]="[{title: 'Sent', field: 'sent'}, {title: 'Received', field: 'received'}]"-->
    <!--                                 [chartData]="resources.network"></mina-system-resources-graph>-->
  </div>
</div>

