<div class="flex-row h-xl align-center flex-between">
  <div [class.primary]="wallet">Latest Transaction</div>
  <a *ngIf="transaction" class="tertiary flex-row align-center pointer primary-hover"
     target="_blank"
     [href]="'https://minaexplorer.com/transaction/' + transaction.hash">
    View in Explorer
    <span class="mina-icon icon-200 ml-5">arrow_outward</span>
  </a>
</div>
<div class="tx-container flex-column border-rad-6 bg-container h-100 w-100 mb-10">
  <div *ngIf="!wallet" class="flex-column align-center flex-center h-100 primary">
    <span class="mina-icon icon-200 mb-16 f-48">send</span>
    <span>No Wallet</span>
  </div>
  <div *ngIf="wallet && !transaction" class="flex-column align-center flex-center h-100 primary">
    <span class="mina-icon icon-200 mb-16 f-48">send</span>
    <span>no transactions yet</span>
    <span class="tertiary mt-10 text-center">
      New transactions will appear once a
      <br>
      new block is produced (~3min)
    </span>
  </div>
  <div *ngIf="wallet && transaction" class="flex-column h-100 tertiary pl-12 pr-12 pt-5 pb-5">
    <div class="flex-row flex-between align-center h-xl">
      <span>Status</span>
      <span>
        <span class="status pr-5 pl-5 border-rad-4 flex-row"
              [ngClass]="transaction.status">
          <span [class.pulse]="transaction.status === 'pending'"
                class="flex-row align-center text-capitalize">
            <span class="mina-icon icon-200 mr-5">
              {{ transaction.status === 'included' ? 'task_alt' : 'more_horiz' }}
            </span>
            {{ transaction.status }}
          </span>
        </span>
      </span>
    </div>
    <div class="flex-row flex-between align-center h-xl">
      <span>Block</span>
      <span>{{ transaction.height || '-' }}</span>
    </div>
    <div class="flex-row flex-between align-center h-xl">
      <span>From</span>
      <span class="flex-row align-center primary">{{ transaction.from || '-' | truncateMid: 3: 3 }}
        <span class="mina-icon icon-200 pointer primary-hover ml-5 tertiary" [copyToClipboard]="transaction.from">
          content_copy
        </span>
      </span>
    </div>
    <div class="flex-row flex-between align-center h-xl">
      <span>Recipient</span>
      <span class="flex-row align-center primary">{{ transaction.to || '-' | truncateMid: 3: 3 }}
        <span class="mina-icon icon-200 pointer primary-hover ml-5 tertiary" [copyToClipboard]="transaction.to">
          content_copy
        </span>
      </span>
    </div>
    <div class="flex-row flex-between align-center h-xl">
      <span>Amount</span>
      <span class="primary">{{ transaction.amount }}</span>
    </div>
    <div class="flex-row flex-between align-center h-xl">
      <span>Fee</span>
      <span class="primary">{{ transaction.fee }}</span>
    </div>
    <div class="flex-row flex-between align-center h-xl">
      <span>Memo</span>
      <span>{{ transaction.memo || '-' }}</span>
    </div>
    <div class="flex-row flex-between align-center h-xl">
      <span>Tx. Hash</span>
      <span class="flex-row align-center primary">{{ transaction.hash || '-' | truncateMid }}
        <span class="mina-icon icon-200 pointer primary-hover ml-5 tertiary" [copyToClipboard]="transaction.hash">
          content_copy
        </span>
      </span>
    </div>
    <div class="flex-row flex-between align-center h-xl">
      <span>Nonce</span>
      <span>{{ transaction.nonce || '-' }}</span>
    </div>
    <div class="flex-row flex-between align-center h-xl">
      <span>Kind</span>
      <span>{{ transaction.kind }}</span>
    </div>
  </div>
</div>
