<div class="flex-column h-100">
  <mina-dashboard-toolbar></mina-dashboard-toolbar>
  <div #parent class="h-100 w-100 flex-row p-relative">
    <mina-dashboard-table [class.shrink]="isSidePanelOpen"></mina-dashboard-table>
    <mina-horizontal-resizable-container (endResizing)="toggleResizing()"
                                         (startResizing)="toggleResizing()"
                                         (widthChange)="onWidthChange($event)"
                                         [class.show]="isSidePanelOpen"
                                         [maxWidthElement]="parent"
                                         [minWidth]="460"
                                         class="no-transition"
                                         localStorageKey="dashboard-sp">
      <mina-dashboard-side-panel></mina-dashboard-side-panel>
    </mina-horizontal-resizable-container>
  </div>
</div>
