@import 'variables';

form {
	.dropdown {
		height: 28px;
		background-color: $base-container;

		&:hover {
			background-color: $base-divider;
		}
	}

	.mina-input {
		border-radius: 4px;
		height: 28px;
		box-sizing: border-box;
	}

	.placeholder {
		position: absolute;
		top: 0;
		left: 8px;
		height: 28px;
		line-height: 28px;
	}

	textarea.mina-input {
		height: 100px;
	}
}

.help-icon {
	font-size: 48px;
	font-variation-settings: 'FILL' 0, 'wght' 100;
}

.dropdown-wrapper {
	max-height: 300px;

	.overflow-y-auto::-webkit-scrollbar-track {
		background-color: $base-surface-top;
	}

	.dropdown-item {
		height: 24px;

		&:hover:not(.active) {
			background-color: $base-container;
		}

		&.active {
			color: $selected-primary;
			background-color: $selected-container;
		}

		&:not(.active) .mina-icon {
			visibility: hidden;
		}

		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}
