<div class="h-xl tx-row f-600 head">
  <span class="pl-12">From</span>
  <span>To</span>
  <span class="text-right overflow-y-scroll">Amount</span>
</div>
<div class="h-minus-xl overflow-y-scroll flex-column secondary">
  <div *ngFor="let tx of txs"
       [class.open]="opened.includes(tx)">
    <div class="tx-row"
         (click)="toggleOpening(tx)">
      <span class="pl-12">
        <mina-copy [value]="tx.from" [display]="tx.from | truncateMid:3: 3"></mina-copy>
      </span>
      <span>
        <mina-copy [value]="tx.to" [display]="tx.to | truncateMid:3: 3"></mina-copy>
      </span>
      <span class="primary fx-row-vert-cent flex-end">
        {{ tx.amount }}
        <span class="mina-icon icon-300 ml-10 mr-5">chevron_right</span>
      </span>
    </div>
    <div class="flex-column selected-primary"
         *ngIf="opened.includes(tx)">
      <div class="fx-row-vert-cent flex-between h-lg pl-12 pr-12">
        <span class="selected-secondary">Fee</span>
        <span>{{ tx.fee }}</span>
      </div>
      <div class="fx-row-vert-cent flex-between h-lg pl-12 pr-12">
        <span class="selected-secondary">Nonce</span>
        <span>{{ tx.nonce }}</span>
      </div>
      <div class="fx-row-vert-cent flex-between h-lg pl-12 pr-12">
        <span class="selected-secondary">Memo</span>
        <mina-copy [value]="tx.memo" [display]="tx.memo | truncateMid: 3: 3" [hidden]="false"></mina-copy>
      </div>
      <div class="fx-row-vert-cent flex-between h-lg pl-12 pr-12">
        <span class="selected-secondary">Hash</span>
        <mina-copy [value]="tx.hash" [display]="tx.hash | truncateMid: 3: 3" [hidden]="false"></mina-copy>
      </div>
      <div class="fx-row-vert-cent flex-between h-lg pl-12 pr-12">
        <span class="selected-secondary">ID</span>
        <mina-copy [value]="tx.id" [display]="tx.id | truncateMid: 3: 3" [hidden]="false"></mina-copy>
      </div>
    </div>
  </div>
</div>
