@import 'variables';

.mina-table {
	$col0: 70px;
	$col1: 155px;
	$col2: 200px;
	$col3: 400px;
	$col4: 150px;

	.row {
		grid-template-columns: $col0 $col1 $col2 $col3 1fr;
		color: $base-tertiary;

		&:not(.head) {
			cursor: pointer;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: $col0 + $col1 + $col2 + $col3 + $col4;
		overflow-x: hidden;
	}
}
