@import 'variables';

$column-widths: 135px 175px 175px 175px 175px 180px 140px;

.mina-table {
	.row {
		grid-template-columns: $column-widths;
		color: $base-tertiary;

		&:not(.head) {
			cursor: pointer;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: sum($column-widths);
		overflow-x: hidden;
	}
}
