@import 'variables';

:host {
	width: 312px;
	max-height: 30vh;
	background-color: $base-surface-top;
}

.err {
	min-height: 105px;

	&:not(:last-child) {
		border-bottom: 1px solid $base-divider;
	}

	.message {
		word-wrap: break-word;
	}
}
