<ng-container #minaTable></ng-container>

<ng-template #rowTemplate let-row="row" let-i="i">
  <span class="fx-row-vert-cent">
    <a [href]="row.url" target="_blank" class="underline secondary" (click)="$event.stopPropagation()">{{ row.name }}</a>
    <mina-copy class="d-flex" [value]="row.url" [display]="' '"></mina-copy>
  </span>
  <span>
    <span class="status f-600" [ngClass]="row.status.toLowerCase()">{{ row.status }}</span>
  </span>
  <span>
    <mina-copy [value]="row.hash" [display]="row.hash || '-' | truncateMid"></mina-copy>
  </span>
  <span>
    <ng-container *ngIf="!(row.hash && !row.branch); else loading">{{ row.branch || '-' }}</ng-container>
  </span>
  <span>
    <mina-copy *ngIf="!(row.hash && !row.bestTip); else loading"
               [value]="row.bestTip" [display]="row.bestTip || '-' | truncateMid"></mina-copy>
  </span>
  <span class="secondary">{{ row.blockchainLength || '-' }}</span>
  <span>{{ row.addr || '-' }}</span>
  <span class="secondary">{{ row.date || '-' }}</span>
  <span class="secondary" [innerHTML]="row.latency | secDuration: secConfig"></span>
  <span class="secondary" [innerHTML]="row.blockApplication | secDuration: secConfig"></span>
  <span class="secondary">{{ row.source || '-' }}</span>
  <span [ngClass]="row.traceStatus">{{ row.traceStatus || '-' }}</span>
  <span [tooltipDisabled]="row.status !== 'SYNCED'"
        [tooltip]="row.addedTx + ' added, ' + row.broadcastedTx + ' broadcasted, ' + row.receivedTx + ' received'">{{ row.txPool ?? '-' }}</span>
  <span [tooltipDisabled]="row.status !== 'SYNCED'"
        [tooltip]="row.snarkDiffBroadcasted + ' broadcasted, ' + row.snarkDiffReceived + ' received, ' + row.pendingSnarkWork + ' pending snark work'">{{ row.snarkPool ?? '-' }}</span>
  <span class="fx-row-vert-cent">
    <button class="btn-transparent tertiary fx-row-full-cent primary-hover pr-0 f-400 ml--5 mr--5 bg-container-hover pl-5"
            [disabled]="downloadingNodes.includes(i)"
            (click)="downloadLogs(row, i, $event)">
      Download
      <span class="mina-icon icon-200 f-20 ml-5">{{ downloadingNodes.includes(i) ? 'more_horiz' : 'download' }}</span>
    </button>
  </span>
</ng-template>

<ng-template #minimalRowTemplate let-row="row" let-i="i">
  <span class="fx-row-vert-cent">
    <a [href]="row.tracingUrl" target="_blank" class="underline secondary" (click)="$event.stopPropagation()">{{ row.name }}</a>
    <mina-copy class="d-flex" [value]="row.tracingUrl" [display]="' '"></mina-copy>
  </span>
  <span>
    <span class="status f-600" [ngClass]="row.status.toLowerCase()">{{ row.status }}</span>
  </span>
  <span>
    <mina-copy [value]="row.hash" [display]="row.hash || '-' | truncateMid"></mina-copy>
  </span>
  <span class="secondary">{{ row.blockchainLength || '-' }}</span>
  <span class="secondary">{{ row.date || '-' }}</span>
  <span class="secondary" [innerHTML]="row.latency | secDuration: secConfig"></span>
  <span class="secondary" [innerHTML]="row.blockApplication | secDuration: secConfig"></span>
  <span class="secondary">{{ row.source || '-' }}</span>
  <span [ngClass]="row.traceStatus">{{ row.traceStatus || '-' }}</span>
</ng-template>

<ng-container *ngIf="currentSlotIsTooBig">
  <div class="no-results bg-surface p-absolute w-100 h-100 z-1 fx-col-full-cent">
    <span class="mina-icon mb-16 icon-100 f-40">error</span>
    <span class="f-600 f-big">No results</span>
    <span class="tertiary mt-8 text-center">
      The current selected height is bigger than the biggest height in the network.
    </span>
    <button class="btn-selected fx-row-vert-cent pl-12 pr-12 mt-16 h-lg"
            (click)="setActiveBlock()">
      <span class="mr-5 mina-icon icon-200 f-20">arrow_right_alt</span>
      See latest height ({{ earliestSlot }})
    </button>
  </div>
</ng-container>

<ng-template #loading>
  <span class="fx-row-vert-cent h-100">
    <span class="pulse border-rad-4 w-sm h-xs bg-container fx-row-full-cent">
      <span class="mina-icon icon-200">more_horiz</span>
    </span>
  </span>
</ng-template>
