@import 'variables';

$column-widths: 200px 105px 145px 75px 115px 90px 135px 160px 90px 140px 100px 110px 90px 100px 100px;

.mina-table {
	.row {
		grid-template-columns: $column-widths;
		color: $base-secondary;

		&:not(.head) {
			cursor: pointer;

			span.addr:hover > span:last-child {
				text-decoration: underline;
			}

			span {
				&.Success {
					color: $success-secondary;
				}

				&.Pending {
					color: $selected-secondary;
				}

				&.Failure {
					color: $warn-primary;
				}
			}
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: sum($column-widths);
		overflow-x: hidden;
	}
}

.status {
	padding: 2px 5px;
	border-radius: 4px;

	&.synced {
		background-color: $success-container;
		color: $success-primary;
	}

	&.connecting,
	&.listening {
		background-color: $base-container;
		color: $base-primary;
	}

	&.bootstrap,
	&.catchup {
		background-color: $aware-container;
		color: $aware-primary;
	}

	&.offline {
		background-color: $warn-container;
		color: $warn-primary;
	}
}

.btn-primary {
	padding-left: 2px;
	padding-right: 2px;
}

.no-results {
	top: 0;

	> * {
		max-width: 80%;
	}
}


.pulse {
	padding: 3px;
	animation: fadeIn 3000ms ease-in-out infinite;
}

@keyframes fadeIn {
	30% {
		opacity: 1;
	}
	50% {
		opacity: 0.1;
	}
	70% {
		opacity: 1;
	}
}
