@import 'variables';
@import 'dimensions';

:host {
	@include h-xl();
}

.toolbar {
	.mobile-toggle {
		width: 46px;
	}

	.percentage {
		width: 200px;

		span {
			width: 18px;
		}
	}

	.loading {
		height: 1px;
		width: 25%;
		border-radius: 4px;
		background-color: $selected-primary;
		bottom: -1px;
		left: 0;
		animation: loading 1.5s infinite;
		animation-timing-function: linear;
	}

	.definite-loading {
		height: 1px;
		width: 0;
		border-radius: 4px;
		background-color: $selected-primary;
		bottom: -1px;
		left: 0;
		transition: width 100ms;
	}
}

@keyframes loading {
	0% {
		left: -15%;
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		left: 85%;
	}
}

@media (max-width: 700px) {
	:host {
		border: none !important;
	}

	.toolbar {
		background-color: $base-surface;
	}
}
