@import 'variables';

:host {
	height: 40px;
}

.toolbar {
	padding-left: 12px;

	.submenus {
		margin-left: 24px;

		button {
			min-width: 88px;
			background-color: transparent;
			color: $base-secondary;
			border-radius: 6px;

			&:hover {
				background-color: $base-container;
			}

			&.active {
				color: $selected-primary;
				background-color: $selected-container;
			}
		}
	}

	.switcher {
		background-color: $base-container;
		width: 24px;
		height: 24px;

		.mina-icon {
			color: $base-secondary;
			font-variation-settings: 'FILL' 1, 'wght' 200;
		}

		&:hover {
			background-color: $base-divider;

			.mina-icon {
				color: $base-primary;
			}
		}
	}

	.block-level {
		height: 24px;
		background-color: $warn-container;
		color: $warn-primary;

		.circle {
			width: 8px;
			height: 8px;
			border-radius: 10px;
			background-color: $warn-primary;
		}

		.p-relative {
			padding-right: 74px;
			height: 14px;

			.p-absolute {
				top: 0;
				right: 0;
				width: 73px;
			}

			.ago {
				width: 19px;
			}
		}

		&.synced {
			background-color: $success-container;
			color: $success-secondary;

			.status {
				color: $success-primary;
			}

			.circle {
				background-color: $success-primary;
			}
		}

		&.connecting,
		&.listening {
			background-color: $base-container;
			color: $base-secondary;

			.status {
				color: $base-primary;
			}

			.circle {
				background-color: $base-secondary;
			}
		}

		&.bootstrap,
		&.catchup {
			background-color: $selected-container;
			color: $selected-secondary;

			.status {
				color: $selected-primary;
			}

			.circle {
				background-color: $selected-primary;
			}
		}
	}

	.loading {
		height: 2px;
		width: 25%;
		border-radius: 4px;
		background-color: $selected-primary;
		bottom: -1px;
		left: 0;
		animation: bar 1.5s infinite;
		animation-timing-function: linear;
	}
}

@keyframes bar {
	0% {
		left: -15%;
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		left: 85%;
	}
}
