<div class="toolbar h-100 flex-row flex-between align-center w-100 p-relative">
  <div class="flex-row align-center">
    <span class="f-600 f-14">{{ title }}</span>
    <div class="submenus flex-row">
      <button *ngFor="let subMenu of subMenus"
              [class.active]="activeSubMenu === subMenu"
              (click)="navigateToSubMenu(subMenu)"
              class="text-capitalize mr-5">{{ subMenu }}</button>
    </div>
  </div>
  <div class="flex-row flex-end" (click)="toggleTooltips()">
    <mina-error-preview></mina-error-preview>
    <div class="block-level mr-8 ml-8 flex-row align-center pl-8 pr-8 border-rad-6"
         [tooltip]="tooltip"
         [ngClass]="status">
      <span class="circle mr-8"></span>
      <span class="status text-capitalize">{{ status }}</span>
      <span class="p-relative" *ngIf="timeIsPresent">
        <span>&nbsp;|&nbsp;</span>
        <span *ngIf="blockLevel > 0">Block {{ blockLevel }},&nbsp;</span>
        <span class="p-absolute text-light" [innerHTML]="elapsedTime$ | async"></span>
        <span class="p-absolute ago">ago</span>
      </span>
    </div>
    <button class="switcher border-rad-4 flex-row align-center flex-center p-0 mr-10"
            (click)="changeTheme()">
      <span class="mina-icon f-18">{{ currentTheme === 'light' ? 'dark_mode' : 'wb_sunny' }}</span>
    </button>
  </div>
  <div *ngIf="loading" class="loading p-absolute"></div>
</div>
