@import 'variables';

:host {
	height: 40px;
}

.toolbar {
	.mobile-toggle {
		width: 46px;
	}

	.submenus {
		a {
			height: 24px;
			line-height: 24px;
			min-width: 88px;
			background-color: transparent;
			color: $base-secondary;
			border-radius: 6px;
			position: relative;

			&:hover {
				background-color: $base-container;
			}

			&.active {
				color: $selected-primary;
				background-color: $selected-container;
			}
		}

		div {
			margin-right: 4px;
			margin-left: 4px;
			height: 20px;
			width: 1px;
		}
	}

	.switcher {
		background-color: $base-container;

		.mina-icon {
			color: $base-secondary;
			font-variation-settings: 'FILL' 1, 'wght' 200;
		}

		&:hover {
			background-color: $base-divider;

			.mina-icon {
				color: $base-primary;
			}
		}
	}

	.percentage {
		width: 200px;

		span {
			width: 18px;
		}
	}

	.loading {
		height: 1px;
		width: 25%;
		border-radius: 4px;
		background-color: $selected-primary;
		bottom: -1px;
		left: 0;
		animation: loading 1.5s infinite;
		animation-timing-function: linear;
	}

	.definite-loading {
		height: 1px;
		width: 0;
		border-radius: 4px;
		background-color: $selected-primary;
		bottom: -1px;
		left: 0;
		transition: width 100ms;
	}
}

@keyframes loading {
	0% {
		left: -15%;
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		left: 85%;
	}
}
