<div class="toolbar h-100 flex-row flex-between align-center w-100 p-relative"
     [class.pl-12]="!isMobile">
  <div class="flex-row align-center">
    <button *ngIf="isMobile" (click)="toggleMenu()"
            class="mobile-toggle btn-transparent h-40 flex-row align-center flex-center">
      <span class="mina-icon f-22 icon-200 primary">menu</span>
    </button>
    <span class="f-600 f-14" [class.pr-12]="!isMobile">{{ title }}</span>
    <div class="submenus flex-row align-center pl-12">
      <ng-container *ngFor="let subMenu of subMenus; let i=index">
        <a [class.active]="activeSubMenu === subMenu"
           [routerLink]="baseRoute + '/' + subMenu"
           class="text-capitalize text-center f-600">{{ subMenu }}</a>
        <div *ngIf="i < subMenus.length - 1" class="border-left"></div>
      </ng-container>
    </div>
  </div>
  <div class="flex-row flex-end align-center">
    <mina-error-preview></mina-error-preview>
    <div class="percentage text-right flex-end pr-5 selected-primary flex-row align-center" *ngIf="definiteLoading">
      {{ definiteLoading.remaining }} remaining, <span>{{ definiteLoading.percentage }}</span>% completed
    </div>
    <mina-server-status></mina-server-status>
    <button class="switcher icon-btn p-0 mr-10"
            (click)="changeTheme()">
      <span class="mina-icon f-18">{{ currentTheme === 'light' ? 'dark_mode' : 'wb_sunny' }}</span>
    </button>
  </div>
  <div #loadingRef id="loadingRef" class="loading p-absolute" [class.opacity-0]="!!definiteLoading"></div>
  <div *ngIf="definiteLoading" class="definite-loading p-absolute" [style.width.%]="definiteLoading.percentage"></div>
</div>
