<div class="flex-column h-100 overflow-auto pt-12">
  <div fxFlex="34px" class="flex-row pl-12 pb-10">
    <button class="btn-primary mr-8" (click)="expandEntireJSON()">Expand All</button>
    <button class="btn-primary mr-8" (click)="collapseEntireJSON()">Collapse All</button>
    <button class="btn-primary mr-8" [copyToClipboard]="jsonString">Copy</button>
    <button class="btn-primary" (click)="downloadJson()">Save</button>
  </div>
  <div class="flex-column flex-grow overflow-y-scroll pl-5">
    <mina-json-viewer [json]="json"
                      [expanded]="false"
                      [expandTracking]="expandTracking"></mina-json-viewer>
  </div>
</div>
