@import 'variables';

.mina-table {
	$col0: 450px;
	$col1: 120px;
	$col2: 190px;

	.row {
		grid-template-columns: $col0 $col1 1fr;
		color: $base-secondary;

		&:not(.head) {
			cursor: pointer;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: $col0 + $col1 + $col2;
		overflow-x: hidden;
	}
}
