@import 'variables';

$column-widths: 450px 120px 190px;

.mina-table {

	.row {
		grid-template-columns: 450px 120px 1fr;
		color: $base-secondary;

		&:not(.head) {
			cursor: pointer;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: sum($column-widths);
		overflow-x: hidden;
	}
}
