@import 'variables';

.h-minus-lg {
	.fx-row-vert-cent {
		.circle {
			width: 8px;
			height: 8px;
			border-radius: 50%;
		}

		&:nth-child(2) .circle {
			background-color: $warn-primary;
		}

		&:nth-child(3) .circle {
			background-color: $aware-primary;
		}

		&:nth-child(4) .circle {
			background-color: $special-selected-alt-1-primary;
		}

		&:nth-child(5) .circle {
			background-color: $selected-primary;
		}

		&:nth-child(6) .circle {
			background-color: $success-primary;
		}
	}

	.squares {
		> div {
			cursor: pointer;
			width: 16px;
			height: 16px;
			border: 1px solid $base-background;
			background-color: white;

			&.Missing {
				background-color: $warn-secondary;

				&:hover {
					background-color: $warn-primary;
				}
			}

			&.Fetching {
				background-color: $aware-secondary;

				&:hover {
					background-color: $aware-primary;
				}
			}

			&.Fetched {
				background-color: $special-selected-alt-1-secondary;

				&:hover {
					background-color: $special-selected-alt-1-primary;
				}
			}

			&.Applying {
				background-color: $selected-secondary;

				&:hover {
					background-color: $selected-primary;
				}
			}

			&.Applied {
				background-color: $success-secondary;

				&:hover {
					background-color: $success-primary;
				}
			}
		}
	}
}
