@import 'src/assets/styles/utilities/variables';

.mina-table {
	$col0: 455px;
	$col1: 170px;
	$col2: 100px;
	$col3: 105px;
	$col4: 170px;
	$col5: 140px;
	$col6: 125px;
	$col7: 160px;

	.row {
		grid-template-columns: $col0 $col1 $col2 $col3 $col4 $col5 $col6 $col7;
		color: $base-tertiary;

		&:not(.head) {
			cursor: pointer;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: $col0 + $col1 + $col2 + $col3 + $col4 + $col5 + $col6 + $col7;
		overflow-x: hidden;
	}
}

.status {
	padding: 2px 5px;
	border-radius: 4px;

	&.generated {
		background-color: $success-container;
		color: $success-primary;
	}

	&.error {
		background-color: $warn-container;
		color: $warn-primary;
	}
}
