@import 'variables';

$column-widths: 170px 170px 100px 105px 170px 140px 125px 160px;

.mina-table {
	.row {
		grid-template-columns: $column-widths;
		color: $base-tertiary;

		&:not(.head) {
			cursor: pointer;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: sum($column-widths);
		overflow-x: hidden;
	}
}

.status {
	padding: 2px 5px;
	border-radius: 4px;

	&.generated {
		background-color: $success-container;
		color: $success-primary;
	}

	&.error {
		background-color: $warn-container;
		color: $warn-primary;
	}
}
