<div class="wallet-toolbar h-lg fx-row-vert-cent border-bottom pl-12 p-relative z-1"
     [class.flex-stretch]="isMobile">
  <button class="btn-selected h-sm fx-row-vert-cent flex-between mr-5"
          #dropdownTrigger
          (click)="openDropdown($event)">
    <div class="fx-row-vert-cent">
      <span class="mina-icon f-20 mr-5">account_balance_wallet</span>
      <span *ngIf="activeWallet; else loadingWallet"
            class="mr-8">{{ activeWallet.minaTokens | number: '1.0-3' }} MINA</span>
      <ng-template #loadingWallet><span class="selected-secondary">Loading wallet..</span></ng-template>
    </div>
    <div class="fx-row-vert-cent">
      <span class="selected-secondary monospace">{{ activeWallet?.publicKey | truncateMid: isMobile ? 0 : 6 }}</span>
      <span class="mina-icon">arrow_drop_down</span>
    </div>
  </button>
  <div [tooltip]="'Action is not available when node is in catchup state'"
       [tooltipDisabled]="nodeStatus === 'SYNCED'"
       [globalTooltip]="false"
       [class.flex-1]="isMobile"
       class="pr-5">
    <button class="btn-primary w-100" routerLink="/web-node/wallet/new-transaction"
            [disabled]="nodeStatus !== 'SYNCED'">Send Mina
    </button>
  </div>
  <button *ngIf="isMobile; else btnGroup" class="btn-primary fx-row-vert-cent mr-10"
          (click)="openMobileDropdown = !openMobileDropdown">
    <span class="mina-icon icon-200">more_vert</span>
  </button>
  <div class="mobile-dropdown bg-surface-top border-rad-6 popup-box-shadow-weak flex-column align-stretch p-5"
       *ngIf="isMobile && openMobileDropdown">
    <ng-container *ngTemplateOutlet="btnGroup"></ng-container>
  </div>
</div>

<ng-template #walletDropdown>
  <div class="dropdown border-rad-4 popup-box-shadow-weak flex-column border bg-surface overflow-hidden"
       (clickOutside)="detachOverlay()">
    <div class="overflow-auto h-100 p-10">
      <div *ngFor="let wallet of wallets"
           class="dropdown-item fx-row-vert-cent flex-between pointer pl-8 pr-8 border-rad-4 mb-5"
           [class.active]="activeWallet.publicKey === wallet.publicKey"
           (click)="changeWallet(wallet)">
        <span class="mina-icon f-20">check_small</span>
        <span>{{ wallet.minaTokens | number: '1.0-3' }} MINA</span>
        <span class="monospace text-right">{{ wallet.publicKey | truncateMid }}</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #btnGroup>
  <button class="btn-primary mr-5" [copyToClipboard]="activeWallet?.publicKey">Copy Address</button>
  <button class="btn-primary mr-5" [copyToClipboard]="activeWallet?.privateKey">Copy Private Key</button>
  <button class="btn-primary" routerLink="/web-node/wallet/new">Add Wallet</button>
</ng-template>
