<div class="sys-res-side-panel flex-column h-100"
     [class.fade]="activePoint"
     [style.transition-delay.s]="0.1">
  <ng-container *ngIf="activePoint">
    <div class="flex-column">
      <div class="h-xl fx-row-vert-cent flex-between pl-12 pr-12">
        <span class="secondary f-600">{{ activePoint.title }} {{ activePoint.point.timestamp | readableDate: 'HH:mm:ss, dd MMM yy' }}</span>
        <span class="mina-icon pointer tertiary primary-hover f-18"
              (click)="closeSidePanel()">close
        </span>
      </div>
      <div class="flex-column align-start f-600 pb-12 secondary pl-12 pr-12">
        Open this time in
        <button class="btn-primary fx-row-vert-cent border-rad-6 h-sm p-0 mr-5 mb-10 mt-10">
          <a class="pl-8 pr-8 primary"
             target="_blank" [href]="origin + '/network/messages?from=' + activePoint.point.timestamp">Network - Messages
          </a>
        </button>
        <button class="btn-primary fx-row-vert-cent border-rad-6 h-sm p-0">
          <a class="pl-8 pr-8 primary"
             target="_blank" [href]="origin + '/explorer/snark-traces?from=' + activePoint.point.timestamp">Explorer - Snark Traces
          </a>
        </button>
      </div>
      <div class="flex-column pl-5 pr-5">
        <div class="path fx-row-vert-cent flex-between h-lg border-rad-8 pointer"
             *ngFor="let path of pathsMap; let i=index"
             [class.active]="activePath === path.name"
             (click)="setActivePath(path.name)">
          <div class="fx-row-vert-cent f-600">
            <span [style.background-color]="activePoint.colors[i] || activePoint.colors[i - activePoint.colors.length]"
                  class="point border-rad-8 mr-10 ml-8"></span>
            <span>{{ path.name }}</span>
          </div>
          <div class="fx-row-vert-cent">
            <span>{{ path.value | number: '1.2-2' }}{{ activePoint.um }}</span>
            <span class="mina-icon icon-200">chevron_right</span>
          </div>
        </div>
      </div>
      <div class="mina-table h-lg" *ngIf="activePath && activePoint?.point.pathPoints[activePath]?.taskThreads">
        <div class="row head sorting pr-8" *ngIf="currentSort">
          <span *ngFor="let tableHead of tableHeads"
                (click)="sortTable(tableHead.sort ?? tableHead.name)"
                [class.active]="currentSort.sortBy === (tableHead.sort ?? tableHead.name)"
                class="pointer">
            {{ tableHead.name }}
            <span [class.flip]="currentSort.sortDirection === 'descending'"
                  [class.show]="currentSort.sortBy === (tableHead.sort ?? tableHead.name)"
                  class="mina-icon f-18 icon-200">arrow_upward
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="flex-column p-relative flex-grow">
      <div class="p-absolute-cover overflow-y-scroll pl-12 pr-12 tertiary">
        <div class="fx-row-vert-cent flex-between h-lg"
             *ngFor="let task of activePoint?.point.pathPoints[activePath]?.taskThreads || []">
          <span>{{ task.name }}</span>
          <span>{{ task.value | number: '1.2-2' }}{{ activePoint.um }}</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
