@import 'variables';

.mina-table {
	$col0: 165px;
	$col1: 115px;
	$col2: 90px;
	$col3: 130px;
	$col4: 130px;
	$col5: 150px;

	.row {
		grid-template-columns: $col0 $col1 $col2 $col3 $col4 $col5;
		color: $base-secondary;

		&:not(.head) {
			span.addr:hover > span:last-child {
				text-decoration: underline;
			}
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: $col0 + $col1 + $col2 + $col3 + $col4 + $col5;
		overflow-x: hidden;
	}
}
