@import 'variables';

.mina-table {
	$col0: 96px;
	$col1: 96px;
	$col2: 205px;
	$col3: 220px;
	$col4: 120px;
	$col5: 120px;
	$col6: 120px;

	.row {
		grid-template-columns: $col0 $col1 $col2 auto $col4 $col5 $col6;

		&:not(.head) {
			cursor: pointer;
		}

		> span:nth-child(4) {
			min-width: $col3;
		}

		.Success {
			color: $success-secondary;
		}

		.Pending {
			color: $selected-secondary;
		}

		.Failure {
			color: $warn-primary;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: $col0 + $col1 + $col2 + $col3 + $col4 + $col5 + $col6;
		overflow-x: hidden;
	}
}
