<div class="mina-table flex-grow overflow-x-auto">
  <div class="row head sorting overflow-y-scroll overflow-x-hidden" *ngIf="currentSort">
    <span *ngFor="let tableHead of tableHeads"
          (click)="sortTable(tableHead.sort ?? tableHead.name)"
          [class.active]="currentSort.sortBy === (tableHead.sort ?? tableHead.name)"
          class="pointer">
      {{ tableHead.name }}
      <span [class.flip]="currentSort.sortDirection === 'descending'"
            [class.show]="currentSort.sortBy === (tableHead.sort ?? tableHead.name)"
            class="mina-icon f-18 icon-200">arrow_upward
      </span>
    </span>
  </div>
  <cdk-virtual-scroll-viewport class="border-bottom border-top overflow-y-auto h-minus-lg"
                               [itemSize]="itemSize">
    <div *cdkVirtualFor="let trace of traces; let i=index"
         (click)="onRowClick(trace)"
         [class.active]="activeTrace?.id === trace.id"
         [class.row-even]="i % 2 === 0"
         class="row">
      <span>
        <a class="underline primary"
           [tooltip]="'See block in network'"
           [showDelay]="500"
           [href]="origin + '/network/blocks/' + trace.height + (activeNodeName ? '?node=' + activeNodeName : '')"
           target="_blank"
           (click)="seeBlockInNetwork(trace.height)">{{ trace.height }}</a>
      </span>
      <span class="tertiary">{{ trace.globalSlot || '-' }}</span>
      <span class="truncate">
        <mina-copy [value]="trace.hash" [display]="trace.hash | truncateMid: 15"></mina-copy>
      </span>
      <span class="tertiary truncate">
        <mina-copy [value]="trace.creator" [display]="(trace.creator || '-') | truncateMid: 15"></mina-copy>
      </span>
      <span [innerHTML]="trace.totalTime | secDuration: secDurationConfig"></span>
      <span>{{ trace.source }}</span>
      <span [ngClass]="trace.status">{{ trace.status }}</span>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
