@import 'variables';

$column-widths: 96px 96px 215px 220px 120px 120px 120px;

.mina-table {
	.row {
		grid-template-columns: 96px 96px 215px auto 120px 120px 120px;

		&:not(.head) {
			cursor: pointer;
		}

		> span:nth-child(4) {
			min-width: 220px;
		}

		.Success {
			color: $success-secondary;
		}

		.Pending {
			color: $selected-secondary;
		}

		.Failure {
			color: $warn-primary;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: sum($column-widths);
		overflow-x: hidden;
	}
}
