@import 'variables';

.mina-table {
	$col0: 96px;
	$col1: 220px;
	$col2: 120px;
	$col3: 120px;
	$col4: 120px;

	.row {
		grid-template-columns: $col0 auto $col2 $col3 $col4;

		&:not(.head) {
			cursor: pointer;
		}

		> span:nth-child(2) {
			min-width: $col1;
		}

		.Success {
			color: $success-secondary;
		}

		.Pending {
			color: $selected-secondary;
		}

		.Failure {
			color: $warn-primary;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: $col0 + $col1 + $col2 + $col3 + $col4;
		overflow-x: hidden;
	}
}
