@import 'variables';

.h-xl {
	display: grid;
	grid-template-columns: 220px 295px 200px;
	border-bottom: 1px solid $base-tertiary;
}

.status {
	padding: 2px 5px;
	border-radius: 4px;

	&.Synced {
		background-color: $success-container;
		color: $success-primary;
	}

	&.Bootstrap,
	&.Catchup {
		background-color: $aware-container;
		color: $aware-primary;
	}

	&.Offline {
		background-color: $warn-container;
		color: $warn-primary;
	}
}
