@import 'variables';

.h-xl {
	display: grid;
	grid-template-columns: 220px 295px 200px;
	border-bottom: 2px solid $base-divider;
}

.status {
	padding: 2px 5px;
	border-radius: 4px;

	&.synced {
		background-color: $success-container;
		color: $success-primary;
	}

	&.connecting,
	&.listening {
		background-color: $base-container;
		color: $base-primary;
	}

	&.bootstrap,
	&.catchup {
		background-color: $aware-container;
		color: $aware-primary;
	}

	&.offline {
		background-color: $warn-container;
		color: $warn-primary;
	}
}
