<div class="mina-table flex-grow overflow-x-auto">
  <div class="row head">
    <span>Datetime</span>
    <span>Level</span>
    <span>Message</span>
  </div>
  <cdk-virtual-scroll-viewport class="border-bottom h-100 overflow-y-auto h-minus-lg"
                               [itemSize]="itemSize">
    <div *cdkVirtualFor="let log of logs; let i=index"
         (click)="onRowClick(log)"
         [class.active]="activeLog === log"
         [class.row-even]="i % 2 === 0"
         class="row">
      <span class="tertiary">{{ log.date }}</span>
      <span>
        <span [ngClass]="log.level" class="status f-600">{{ log.level }}</span>
      </span>
      <span>{{ log.message }}</span>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
