<div class="flex-column h-100">
  <mina-dashboard-nodes-toolbar></mina-dashboard-nodes-toolbar>
  <div #parent class="h-100 w-100 flex-row p-relative">
    <mina-dashboard-nodes-table [class.shrink]="isActiveTrace"></mina-dashboard-nodes-table>
    <mina-horizontal-resizable-container (endResizing)="toggleResizing()"
                                         (startResizing)="toggleResizing()"
                                         (widthChange)="onWidthChange($event)"
                                         [class.show]="isActiveTrace"
                                         [maxWidthElement]="parent"
                                         [minWidth]="420"
                                         class="no-transition"
                                         localStorageKey="db-nodes-side-panel-width">
      <mina-dashboard-nodes-side-panel></mina-dashboard-nodes-side-panel>
    </mina-horizontal-resizable-container>
  </div>
</div>
