@import 'variables';

:host {
	display: block;
	width: 100%;
	height: 100%;
}

mat-sidenav {
	width: 160px;
	border-right: 1px solid $base-divider;
	background-color: $base-background;
	transition: 200ms ease-out;
	visibility: visible !important;
	display: block !important;
	transform: translateX(-100%) !important;

	&.collapsed {
		width: 44px;
	}

	&.mobile {
		width: 220px;
	}

	::ng-deep .mat-drawer-inner-container {
		overflow: hidden;
	}

	&.mat-drawer-opened {
		transform: translateX(0) !important;
	}
}

mat-sidenav-content {
	transition: 200ms ease-out !important;
	overflow: hidden;
}

mat-sidenav-container,
mat-sidenav-content {
	color: inherit;
	background-color: $base-surface;

	@media (max-width: 700px) {
		background-color: $base-background;
	}
}

.mina-content {
	height: calc(100% - 40px);

	&.mobile {
		height: calc(100% - 88px);
	}
}
