<mat-sidenav-container [hasBackdrop]="menu.isMobile"
                       (backdropClick)="toggleMenu()"
                       [@.disabled]="true"
                       class="w-100 h-100">
  <mat-sidenav [mode]="menu.isMobile ? 'over' : 'side'"
               [opened]="menu.open"
               [class.collapsed]="menu.collapsed"
               [class.mobile]="menu.isMobile">
    <mina-menu></mina-menu>
  </mat-sidenav>
  <mat-sidenav-content *ngIf="menu" class="flex-column"
                       [style.marginLeft.px]="menu.isMobile ? 0 : (menu.collapsed ? 44 : 160)">
    <mina-toolbar></mina-toolbar>
    <div class="mina-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
