<mina-horizontal-resizable-container [leftTemplate]="left"
                                     [rightTemplate]="right"
                                     [show]="isActiveRow"
                                     [minWidth]="360"
                                     [maxWidthElement]="el.nativeElement"
                                     localStorageKey="dsw-dashboard-spw">
</mina-horizontal-resizable-container>

<ng-template #left>
  <mina-dsw-dashboard-table></mina-dsw-dashboard-table>
</ng-template>

<ng-template #right>
  <mina-dsw-dashboard-side-panel></mina-dsw-dashboard-side-panel>
</ng-template>
