<div class="flex-row align-center h-36 pl-12 border-bottom tertiary">
</div>
<div fxFlex="calc(100% - 36px)" class="w-100 flex-row p-relative">
  <div class="table-wrapper p-relative">
    <div class="mina-table flex-grow overflow-x-auto h-100">
      <div class="row head">
        <span>Transaction ID</span>
        <span>From</span>
        <span>To</span>
        <span>Amount</span>
        <span>Fee</span>
        <span>Nonce</span>
        <span>Memo</span>
        <span>Status</span>
      </div>
      <cdk-virtual-scroll-viewport class="border-bottom h-100 overflow-y-auto"
                                   fxFlex="calc(100% - 36px)"
                                   [itemSize]="32">
        <div *cdkVirtualFor="let transaction of transactions; let i=index"
             [class.row-even]="i % 2 === 0"
             class="row">
          <span class="tertiary">{{ transaction.id | truncateMid }}</span>
          <span class="secondary">{{ transaction.from | truncateMid }}</span>
          <span class="secondary">{{ transaction.to | truncateMid }}</span>
          <span class="secondary">{{ transaction.amount }}</span>
          <span class="secondary">{{ transaction.fee }}</span>
          <span class="tertiary">{{ transaction.nonce }}</span>
          <span class="tertiary">{{ transaction.memo || '-' | truncateMid }}</span>
          <span>
            <span class="status border-rad-4 pl-5 pr-5 text-capitalize" [ngClass]="transaction.status">{{ transaction.status }}</span>
          </span>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>

    <div class="no-results p-absolute w-100 h-100 z-1 flex-column align-center flex-center"
         *ngIf="!transactions.length">
      <span class="mina-icon mb-16 icon-100 f-40">send</span>
      <span class="f-600 f-14">No Transactions yet</span>
      <span class="tertiary mt-8 text-center">
        If there is a new transaction it will appear here when the next block is produced (~3min)
      </span>
    </div>

  </div>
</div>
