<mina-horizontal-resizable-container *ngIf="el" [leftTemplate]="left"
                                     [rightTemplate]="right"
                                     [show]="isActiveRow"
                                     [minWidth]="420"
                                     [maxWidthElement]="el.nativeElement"
                                     localStorageKey="explorer-blocks-spw">
</mina-horizontal-resizable-container>

<ng-template #left>
  <mina-explorer-blocks-table></mina-explorer-blocks-table>
</ng-template>

<ng-template #right>
  <mina-explorer-blocks-side-panel></mina-explorer-blocks-side-panel>
</ng-template>
