<div class="flex-column">
  <div class="flex-row flex-between h-xl align-center">
    <div>Your Web Node</div>
    <div class="tertiary" #timeRef></div>
  </div>
  <div class="flex-column border-rad-6 bg-selected-container selected-primary pt-5 pb-5">
    <div class="flex-row h-xl flex-between pl-12 pr-12 align-center mb-5">
      <div>Chain</div>
      <div class="bg-success-container success-primary border-rad-6 p-5">{{ network }}</div>
    </div>
    <div class="flex-row h-xl flex-between pl-12 pr-12 align-center">
      <div>Block</div>
      <div>{{ height }}</div>
    </div>
  </div>
</div>
