<div *ngIf="menu" class="menu flex-column" [class.collapsed]="menu.collapsed && !menu.isMobile">
  <button class="menu-toggle primary pointer flex-row align-center f-400"
          [class.flex-between]="menu.isMobile"
          (click)="toggleMenu()">
    <span>OpenMina</span>
    <span [class.flipped]="menu.isMobile ? false : menu.collapsed"
          class="mina-icon f-20">{{ !menu.isMobile ? 'first_page' : 'close'}}</span>
  </button>
  <a *ngFor="let item of menuItems"
     [routerLink]="'/' + item.name.toLowerCase().split(' ').join('-')"
     [tooltip]="item.name"
     [tooltipDisabled]="!menu.collapsed || menu.isMobile"
     routerLinkActive="active"
     class="item">
    <span class="item-content">
      <span class="mina-icon">{{ item.icon }}</span>
      <span class="text-nowrap">{{ item.name }}</span>
    </span>
  </a>
</div>

<button class="switcher icon-btn p-0 ml-10"
        (click)="changeTheme()">
  <span class="mina-icon f-18">{{ currentTheme === 'light' ? 'dark_mode' : 'wb_sunny' }}</span>
</button>
