<div *ngIf="menu" class="menu flex-column" [class.collapsed]="menu.collapsed && !menu.isMobile">
  <button class="menu-toggle f-big h-xl primary pointer flex-row align-center f-400"
          [class.flex-between]="menu.isMobile"
          (click)="toggleMenu()">
    <span>OpenMina</span>
    <span [class.flipped]="menu.isMobile ? false : menu.collapsed"
          class="mina-icon f-20">{{ !menu.isMobile ? 'first_page' : 'close' }}</span>
  </button>
  <a *ngFor="let item of menuItems"
     [routerLink]="'/' + item.name.toLowerCase().split(' ').join('-')"
     [queryParams]="activeNode ? { node: activeNode.name } : null"
     [tooltip]="item.name"
     [tooltipDisabled]="!menu.collapsed || menu.isMobile"
     [class.active]="activeRoute === item.name.toLowerCase().split(' ').join('-')"
     class="item h-lg">
    <span class="item-content h-sm">
      <span class="mina-icon">{{ item.icon }}</span>
      <span class="text-nowrap">{{ item.name }}</span>
    </span>
  </a>
</div>

<div class="flex-row align-center p-relative">
  <button class="switcher icon-btn p-0 ml-10"
          (click)="changeTheme()">
    <span class="mina-icon f-18">{{ currentTheme === 'light' ? 'dark_mode' : 'wb_sunny' }}</span>
  </button>
  <div *ngIf="appIdentifier"
       [class.collapsed]="menu.collapsed"
       [class.truncate]="!menu.collapsed"
       [style.width.px]="menu.isMobile ? 185 : 115"
       class="identifier tertiary ml-10 p-absolute">
    <span class="border border-rad-4 p-5">{{ appIdentifier }}</span>
  </div>
</div>
