<div *ngIf="menu" class="menu flex-column" [class.collapsed]="menu.collapsed">
  <button class="menu-toggle primary f-14 pointer flex-row align-center f-400"
          (click)="toggleMenu()">
    <span>OpenMina</span>
    <span fxFlex="20px" class="mina-icon" [class.flipped]="menu.collapsed">first_page</span>
  </button>
  <a *ngFor="let item of menuItems"
     [routerLink]="'/' + item.name.toLowerCase().split(' ').join('-')"
     routerLinkActive="active"
     class="item">
    <span class="item-content">
      <span class="mina-icon">{{ item.icon }}</span>
      <span class="text-nowrap">{{ item.name }}</span>
    </span>
  </a>
</div>
