@import 'variables';

:host {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.x-steps {
	padding-top: 4px;
	text-align: right;

	div {
		width: 30px;
		height: 12px;
		margin-left: -14px;
		transform: rotate(-60deg);
	}
}

.flex-row {
	height: 20px;
	line-height: 20px;
}
