<div class="flex-column h-100">
  <mina-storage-accounts-toolbar></mina-storage-accounts-toolbar>
  <div #parent class="flex-row p-relative h-minus-xl w-100">
    <div #tableWrapper class="left-wrapper flex-column h-100" [class.shrink]="isActiveRow">
      <mina-storage-accounts-filter></mina-storage-accounts-filter>
      <mina-storage-accounts-table></mina-storage-accounts-table>
    </div>
    <mina-horizontal-resizable-container (endResizing)="toggleResizing()"
                                         (startResizing)="toggleResizing()"
                                         (widthChange)="onWidthChange($event)"
                                         [class.show]="isActiveRow"
                                         [maxWidthElement]="parent"
                                         [minWidth]="420"
                                         class="no-transition"
                                         localStorageKey="storage-accounts-side-panel-width">
      <mina-storage-accounts-side-panel></mina-storage-accounts-side-panel>
    </mina-horizontal-resizable-container>
  </div>
</div>
