<div class="debugger-status h-24 ml-8 border-rad-4 flex-row align-center"
     *ngIf="enabledDebugger"
     [tooltip]="debuggerTooltip"
     [class.failed]="debuggerStatus.failed"
     [class.offline]="!debuggerStatus.isOnline">
  <span class="mina-icon icon-200 f-20">code</span>
  <span *ngIf="debuggerStatus.failed !== undefined" class="ml-5 mr-5">{{ debuggerStatus.failed | number: '1.1-1' }}%
                                                                                                                   Failed
  </span>
  <div *ngIf="!debuggerStatus.isOnline" class="ml-5 mr-5">Offline</div>
</div>

<div class="web-node-status h-24 ml-8 border-rad-4 flex-row align-center"
     *ngIf="webNodeStatus"
     [tooltip]="webNodeTooltip"
     [class.offline]="!webNodeStatus.peers && !webNodeStatus.messages">
  <span class="mina-icon icon-300 f-20">language</span>
  <div class="ml-5 mr-5">{{ webNodeStatus.peers }} peer{{ webNodeStatus.peers === 1 ? '' : 's' }}, {{ webNodeStatus.messages }} message{{ webNodeStatus.messages === 1 ? '' : 's' }}</div>
</div>

<div class="node-status ml-8 mr-8 border-rad-4 p-relative overflow-hidden">
  <div *ngIf="status === 'catchup' || status === 'bootstrap'"
       class="shining-border p-absolute overflow-hidden"></div>
  <div class="background-wrap bg-surface border-rad-4 flex-row align-center"
       [ngClass]="status">
    <div class="block-level h-24 flex-row align-center pl-5 pr-8"
         [tooltip]="nodeTooltip">
      <span class="strong-text text-capitalize flex-row align-center mr-5">
        <span class="mina-icon icon-200 f-20">dns</span>
        &nbsp;{{ status }}
      </span>
      <span class="p-relative" *ngIf="timeIsPresent && !isMobile">
        <span *ngIf="blockLevel > 0">#{{ blockLevel }}&nbsp;</span>
        <span class="p-absolute text-light" [innerHTML]="elapsedTime$ | async"></span>
        <span class="p-absolute ago">ago</span>
      </span>
    </div>
    <div class="node-switcher pointer h-24 flex-row align-center pl-5 pr-8"
         #overlayOpener (click)="openNodePicker($event)">
      <span class="strong-text">{{ activeNode?.name }}</span>
      <span class="mina-icon icon-200">arrow_drop_down</span>
    </div>
  </div>
</div>

<ng-template #nodePicker>
  <div class="flex-column border border-rad-6 bg-surface-top w-100 pointer"
       (clickOutside)="detachOverlay()">
    <div *ngFor="let node of nodes"
         (click)="selectNode(node)"
         class="bg-container-hover h-40 pl-12 pr-12 flex-row flex-between align-center"
         [ngClass]="{ 'success-primary bg-success-container': activeNode === node }">
      <div class="flex-column">
        <span class="font-600 mb-5">{{ node.name }}</span>
        <span class="f-10">{{ node.backend }}</span>
      </div>
      <span class="mina-icon icon-200 f-20 success-primary" *ngIf="activeNode === node">check</span>
    </div>
  </div>
</ng-template>
