<div fxFlex="50" class="flex-row align-center pl-10">
  <span class="tertiary mr-10 f-600">Height</span>
  <div class="pagination-group flex-row align-center bg-selected-container ml-10 border-rad-4">
    <button class="h-sm w-sm flex-row flex-center align-center"
            [class.disabled]="activeBlock === 1"
            [tooltip]="'Prev block'"
            [showDelay]="500"
            (click)="getBlock(activeBlock - 1)">
      <span class="mina-icon f-18">navigate_before</span>
    </button>
    <span class="f-600 selected-primary pl-5 pr-5">{{ activeBlock }}</span>
    <button class="h-sm w-sm flex-row flex-center align-center"
            [class.disabled]="earliestBlock === activeBlock"
            [tooltip]="'Next block'"
            [showDelay]="500"
            (click)="getBlock(activeBlock + 1)">
      <span class="mina-icon f-18">navigate_next</span>
    </button>
  </div>
  <button class="btn-secondary h-sm w-sm mr-10 ml-5 flex-row flex-center align-center"
          [class.disabled]="earliestBlock === activeBlock"
          [tooltip]="'Last block'"
          [showDelay]="500"
          (click)="getBlock(earliestBlock)">
    <span class="mina-icon f-18">last_page</span>
  </button>
</div>
<div fxFlex="50" fxLayout="row wrap" class="align-center h-100 pl-10">
  <span class="tertiary mr-10 f-600">Block candidates</span>
  <button *ngFor="let filter of allFilters"
          (click)="toggleFilter(filter)"
          class="mr-5 border-rad-6 f-600 flex-row align-center"
          [ngClass]="activeFilters.includes(filter) ? 'btn-selected' : 'btn-primary'">
    <span>{{ filter | truncateMid }}</span>
  </button>
</div>
