<div class="flex-column h-100">
  <mina-network-messages-filters (onSizeChange)="checkVirtualScrollViewport()"></mina-network-messages-filters>
  <div class="flex-row flex-grow overflow-hidden p-relative" #table>
    <mina-network-messages-table [class.shrink]="isActiveRow"></mina-network-messages-table>
    <mina-horizontal-resizable-container (widthChange)="onWidthChange($event)"
                                         (startResizing)="toggleResizing()"
                                         (endResizing)="toggleResizing()"
                                         [minWidth]="320"
                                         [maxWidthElement]="table"
                                         [class.show]="isActiveRow"
                                         localStorageKey="network-side-panel-width"
                                         class="no-transition">
      <mina-network-messages-side-panel></mina-network-messages-side-panel>
    </mina-horizontal-resizable-container>
  </div>
  <mina-network-messages-table-footer fxFlex="36px" (onScrollTopClick)="scrollToTop()"></mina-network-messages-table-footer>
</div>
