@import 'variables';

* {
	margin: 0;
	padding: 0;
}

@media (max-width: 700px) {
	nav {
		background-color: $base-surface;
	}
}

.control {
	width: 30px;
	top: 0;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.items-wrapper {
	width: calc(100% - 100px);
}
