<mina-horizontal-resizable-container [leftTemplate]="left"
                                     [rightTemplate]="right"
                                     [show]="openSidePanel"
                                     [minWidth]="610"
                                     [maxWidthElement]="el.nativeElement"
                                     [maxWidth]="el.nativeElement.offsetWidth - 650"
                                     localStorageKey="dsw-live-spw">
</mina-horizontal-resizable-container>

<ng-template #left>
  <mina-dsw-live-toolbar></mina-dsw-live-toolbar>
  <mina-dsw-live-blocks-map></mina-dsw-live-blocks-map>
</ng-template>

<ng-template #right>
  <mina-dsw-live-status-counts></mina-dsw-live-status-counts>
  <div class="flex-column h-minus-lg">
    <mina-dsw-live-filters></mina-dsw-live-filters>
    <mina-dsw-live-events-table></mina-dsw-live-events-table>
  </div>
</ng-template>
