@font-face {
	font-family: 'Material Symbols Sharp';
	font-style: normal;
	font-weight: 100;
	src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v26/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzazHD_dY40KH8nGzv3fzHVJU22ZZLsYEpzC_1veq5Y0.woff2) format('woff2');
}

span.mina-icon {
	font-family: 'Material Symbols Sharp', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.icon-100 {
	font-variation-settings: 'FILL' 0, 'wght' 100;
}

.icon-200 {
	font-variation-settings: 'FILL' 0, 'wght' 200;
}

.icon-300 {
	font-variation-settings: 'FILL' 0, 'wght' 300;
}
