@import 'variables';

.mina-table {
	$col0: 70px;
	$col1: 155px;
	$col2: 200px;
	$col3: 200px;
	$col4: 400px;
	$col5: 150px;

	.row {
		grid-template-columns: $col0 $col1 $col2 $col3 $col4 1fr;
		color: $base-tertiary;

		&:not(.head) {
			cursor: pointer;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: $col0 + $col1 + $col2 + $col3 + $col4 + $col5;
		overflow-x: hidden;
	}
}

.table-wrapper {
	transition: width 400ms cubic-bezier(0.22, 1, 0.36, 1);

	&.shrink {
		width: calc(100% - 400px);
	}

	&:not(.shrink) {
		width: 100% !important;
	}
}

mina-horizontal-resizable-container {
	width: 400px;
	height: 100%;
	position: absolute;
	right: -400px;
	transition: right 400ms cubic-bezier(0.22, 1, 0.36, 1);

	&.show {
		right: 0 !important;
	}
}
