<mina-web-node-peers-toolbar></mina-web-node-peers-toolbar>
<div #parent class="w-100 flex-row p-relative h-minus-lg">
  <div #table class="table-wrapper p-relative"
       [class.shrink]="activePeer">
    <ng-container #minaTable></ng-container>

    <ng-template #rowTemplate let-row="row">
      <span>{{ row.id }}</span>
      <span>{{ row.date }}</span>
      <span>
        <mina-copy [value]="row.peerId" [display]="row.peerId | truncateMid: 17"></mina-copy>
      </span>
      <span class="secondary truncate">{{ row.kind }}</span>
      <span>
        <mina-copy [value]="row.summary" [display]="row.summary | truncateMid: 17"></mina-copy>
      </span>
      <span class="secondary truncate">{{ row.level }}</span>
    </ng-template>
  </div>
  <mina-horizontal-resizable-container-old (endResizing)="toggleResizing()"
                                       (startResizing)="toggleResizing()"
                                       (widthChange)="onWidthChange($event)"
                                       [class.show]="activePeer"
                                       [maxWidthElement]="parent"
                                       [minWidth]="400"
                                       class="no-transition"
                                       localStorageKey="web-node-peers-side-panel-width">
    <mina-web-node-peers-side-panel></mina-web-node-peers-side-panel>
  </mina-horizontal-resizable-container-old>
</div>
