@import 'variables';

.mina-table {
	$col0: 80px;
	$col1: 80px;
	$col2: 150px;
	$col3: 150px;
	$col4: 300px;

	.row {
		grid-template-columns: $col1 $col2 $col3 1fr;
		color: $base-secondary;

		&:not(.head) {
			cursor: pointer;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: $col1 + $col2 + $col3 + $col4;
		overflow-x: hidden;
	}
}

.table-wrapper {
	transition: width 400ms cubic-bezier(0.22, 1, 0.36, 1);

	&.shrink {
		width: calc(100% - 400px);
	}

	&:not(.shrink) {
		width: 100% !important;
	}
}

mina-horizontal-resizable-container {
	width: 400px;
	height: 100%;
	position: absolute;
	right: -400px;
	transition: right 400ms cubic-bezier(0.22, 1, 0.36, 1);

	&.show {
		right: 0 !important;
	}
}
