<mina-web-node-peers-toolbar></mina-web-node-peers-toolbar>
<div #parent class="w-100 flex-row p-relative h-minus-lg">
  <div #table class="table-wrapper p-relative"
       [class.shrink]="activePeer">
    <div class="mina-table flex-grow overflow-x-auto h-100">
      <div class="row head">
        <span>ID</span>
        <span>Datetime</span>
        <span>Peer ID</span>
        <span>Kind</span>
        <span>Summary</span>
        <span>Level</span>
      </div>
      <cdk-virtual-scroll-viewport class="border-bottom h-100 overflow-y-scroll h-minus-lg"
                                   itemSize="32">
        <div *cdkVirtualFor="let peer of peers; let i=index"
             (click)="onRowClick(peer)"
             [class.active]="activePeer?.id === peer.id"
             [class.row-even]="i % 2 === 0"
             class="row">
          <span>{{ peer.id }}</span>
          <span>{{ peer.date }}</span>
          <span>
            <mina-copy [value]="peer.peerId" [display]="peer.peerId | truncateMid: 17"></mina-copy>
          </span>
          <span class="secondary truncate">{{ peer.kind }}</span>
          <span class="truncate">{{ peer.summary || '-' }}</span>
          <span class="secondary truncate">{{ peer.level }}</span>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
  <mina-horizontal-resizable-container (endResizing)="toggleResizing()"
                                       (startResizing)="toggleResizing()"
                                       (widthChange)="onWidthChange($event)"
                                       [class.show]="activePeer"
                                       [maxWidthElement]="parent"
                                       [minWidth]="400"
                                       localStorageKey="web-node-peers-side-panel-width">
    <mina-web-node-peers-side-panel></mina-web-node-peers-side-panel>
  </mina-horizontal-resizable-container>
</div>
