@use '@angular/material' as mat;

@import 'utilities/variables';
@import 'utilities/layout';
@import 'utilities/design';
@import 'utilities/text';
@import 'utilities/text-colors';
@import 'utilities/backgrounds';
@import 'utilities/font';
@import 'utilities/scrollbar';
@import 'utilities/dimensions';
@import 'utilities/flex';
@import 'utilities/paddings';
@import 'utilities/margins';
@import 'components/table';
@import 'components/button';
@import 'components/tooltip';
@import 'components/input';
@import 'material/material-accordion';
@import 'material/material-icons';
@import 'material/material-popups';

$custom-typography: mat.define-legacy-typography-config($font-family: '"Inter", sans-serif');
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($custom-typography);`
@include mat.all-legacy-component-typographies($custom-typography);
@include mat.legacy-core();

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: $inter-font;
	font-weight: 400;
	color: $base-primary;
	background-color: $base-background;

	&.light {
		//font-weight: 600;
	}
}

.theme-transition {
	* {
		transition: background-color 200ms;
	}
}

a {
	text-decoration: none;
}

span {
	color: inherit;
}

* {
	box-sizing: border-box;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

/* User Select */
body {
	::-moz-selection {
		color: $base-primary;
		background: $selected-secondary;
	}

	::selection {
		color: $base-primary;
		background: $selected-secondary;
	}
}
