@use '@angular/material' as mat;

@import 'utilities/variables';
@import 'utilities/layout';
@import 'utilities/design';
@import 'utilities/table';
@import 'utilities/text';
@import 'components/button';
@import 'components/tooltip';
@import 'material/material-accordion';
@import 'material/material-icons';
@import 'material/material-popups';

$custom-typography: mat.define-typography-config($font-family: '"Inter", sans-serif');
@include mat.core($custom-typography);

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: $inter-font;
	font-weight: 400;
	font-size: 12px;
	color: $base-primary;
}

.theme-transition {
	* {
		transition: background-color 200ms;
	}
}

a {
	text-decoration: none;
}

span {
	color: inherit;
}

/* User Select */
::-moz-selection {
	color: $base-primary;
	background: $selected-secondary;
}

::selection {
	color: $base-primary;
	background: $selected-secondary;
}

body.light {
	::-moz-selection {
		color: $base-primary;
		background: $selected-secondary;
	}

	::selection {
		color: $base-primary;
		background: $selected-secondary;
	}
}

/* --- Scrollbar --- */
::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background-color: $base-surface;
}

::-webkit-scrollbar-thumb {
	background-color: $base-tertiary;
	border-radius: 8px;
	border-width: 4px;
	border-style: solid;
	border-color: transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: $base-secondary;
	border-radius: 8px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	background-clip: content-box;
}
