@import 'src/assets/styles/utilities/variables';

.mina-table {
	$col0: 165px;
	$col1: 165px;
	$col2: 100px;
	$col3: 130px;
	$col4: 80px;
	$col5: 130px;
	$col6: 160px;
	$col7: 130px;
	$col8: 140px;
	$col9: 160px;
	$col10: 160px;
	$col11: 40px;

	.row {
		grid-template-columns: $col0 $col1 $col2 $col3 $col4 $col5 $col6 $col7 $col8 $col9 $col10 1fr;
		color: $base-secondary;

		&:not(.head) {
			span.addr:hover > span:last-child {
				text-decoration: underline;
			}
		}

		.toggle {
			right: -4px;
			top: 6px;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: $col0 + $col1 + $col2 + $col3 + $col4 + $col5 + $col6 + $col7 + $col8 + $col9 + $col10 + $col11;
		overflow-x: hidden;
	}
}
