@import 'variables';

:host {
	min-height: 80px;
}

.pagination-group {
	button {
		background-color: transparent;
		color: $selected-primary;

		&:hover {
			background-color: $selected-container;
		}
	}
}

.section-active {
	.btn-primary {
		background-color: $selected-container !important;
		color: $selected-secondary !important;
	}
}
