<div class="row1 fx-row-vert-cent flex-wrap flex-between pl-12 h-50">
  <div class="fx-row-vert-cent">
    <span class="tertiary mr-10 f-600">Global Slot</span>
    <div class="pagination-group fx-row-vert-cent bg-selected-container ml-10 border-rad-4">
      <button class="h-sm w-sm fx-row-full-cent"
              [class.disabled]="!earliestBlock || activeBlock === 1"
              [tooltip]="'Prev block'"
              [showDelay]="500"
              (click)="getBlock(activeBlock - 1)">
        <span class="mina-icon f-18 f-600">navigate_before</span>
      </button>
      <span class="selected-primary pl-5 pr-5">{{ activeBlock ?? '-' }}</span>
      <button class="h-sm w-sm fx-row-full-cent"
              [class.disabled]="!earliestBlock || earliestBlock === activeBlock"
              [tooltip]="'Next block'"
              [showDelay]="500"
              (click)="getBlock(activeBlock + 1)">
        <span class="mina-icon f-18">navigate_next</span>
      </button>
    </div>
    <button class="btn-secondary h-sm w-sm mr-10 ml-5 fx-row-full-cent"
            [class.disabled]="!earliestBlock || earliestBlock === activeBlock"
            [tooltip]="'Last block'"
            [showDelay]="500"
            (click)="getBlock(earliestBlock)">
      <span class="mina-icon f-18">last_page</span>
    </button>
    <div class="flex-row">
      <button class="h-sm btn-primary mr-5"
              [class.disabled]="isLoading"
              (click)="toggleShowLatencyFromFastest()">Show latency from {{ latencyFromFastest ? 'second' : '' }} fastest</button>
      <button class="h-sm btn-primary mr-5"
              [class.disabled]="isLoading"
              (click)="toggleNodesShowing()">Show {{ showOffline ? 'active' : 'all' }} nodes</button>
      <button class="h-sm btn-primary mr-5"
              [tooltip]="networkSplitDetails"
              (click)="splitNodes()">Split nodes</button>
    </div>
  </div>
  <div class="mr-10 fx-row-vert-cent selected-primary h-sm">
    {{ count.nodes }} Node{{ count.nodes | plural }} · {{ count.producers }} Producer{{ count.producers | plural }} · {{ count.snarkers }} Snarker{{ count.snarkers | plural }} · {{ count.seeders }} Seeder{{ count.seeders | plural }} · {{ count.transactionGenerators }} Generator{{ count.transactionGenerators | plural }}
  </div>
</div>

<div class="row2 fx-row-vert-cent flex-wrap h-100 pl-12 h-50">
<!--  <span class="tertiary mr-10 f-600">{{ isLoading ? 'Loading' : 'Block' }} candidates</span>-->
<!--  <ng-container *ngIf="!isLoading">-->
<!--    <button *ngFor="let filter of allFilters"-->
<!--            (click)="toggleFilter(filter)"-->
<!--            class="mr-5 border-rad-6 f-600 fx-row-vert-cent"-->
<!--            [ngClass]="'btn-' + (activeFilters.includes(filter) ? 'selected' : 'primary')">-->
<!--      <span>{{ filter | truncateMid }}</span>-->
<!--    </button>-->
<!--  </ng-container>-->
  <span class="tertiary mr-10 f-600">{{ forks.length === 0 ? 'Loading ' : '' }}Branches</span>
    <span *ngFor="let fork of forks"
          [class.section-active]="activeForkFilter?.value === fork.branch || fork.candidates.includes(activeForkFilter?.value)"
          class="mr-5 border-rad-4 overflow-hidden f-600 fx-row-vert-cent">
      <button [ngClass]="'btn-' + (activeForkFilter?.value === fork.branch ? 'selected' : 'primary')"
              (click)="toggleFilter({ value: fork.branch, type: 'branch' })"
              class="border-rad-0 border-right">{{ fork.branch }}</button>
      <button *ngFor="let candidate of fork.candidates"
              class="border-rad-0 f-600 fx-row-vert-cent border-right"
              (click)="toggleFilter({ value: candidate, type: 'bestTip' })"
              [ngClass]="'btn-' + (activeForkFilter?.value === candidate ? 'selected' : 'primary')">
        <span>{{ candidate | truncateMid: 0: 5 }}</span>
      </button>
    </span>
</div>
