@import 'variables';

@media (max-width: 768px) {
	.row1 > div:last-child {
		display: none;
	}
}

.pagination-group {
	button {
		background-color: transparent;
		color: $selected-primary;

		&:hover {
			background-color: $selected-container;
		}
	}
}

.section-active {
	.btn-primary {
		background-color: $selected-container !important;
		color: $selected-secondary !important;
	}
}
