<div class="row1 fx-row-vert-cent flex-wrap f-600 pl-12 h-50">
  <span class="tertiary mr-10">Height</span>
  <div class="pagination-group fx-row-vert-cent bg-selected-container ml-10 border-rad-4">
    <button class="h-sm w-sm fx-row-full-cent"
            [class.disabled]="!earliestBlock || activeBlock === 1"
            [tooltip]="'Prev block'"
            [showDelay]="500"
            (click)="getBlock(activeBlock - 1)">
      <span class="mina-icon f-18">navigate_before</span>
    </button>
    <span class="selected-primary pl-5 pr-5">{{ activeBlock ?? '-' }}</span>
    <button class="h-sm w-sm fx-row-full-cent"
            [class.disabled]="!earliestBlock || earliestBlock === activeBlock"
            [tooltip]="'Next block'"
            [showDelay]="500"
            (click)="getBlock(activeBlock + 1)">
      <span class="mina-icon f-18">navigate_next</span>
    </button>
  </div>
  <button class="btn-secondary h-sm w-sm mr-10 ml-5 fx-row-full-cent"
          [class.disabled]="!earliestBlock || earliestBlock === activeBlock"
          [tooltip]="'Last block'"
          [showDelay]="500"
          (click)="getBlock(earliestBlock)">
    <span class="mina-icon f-18">last_page</span>
  </button>
  <div class="pl-12 f-600 fx-row-vert-cent flex-wrap flex-1 flex-between">
    <div class="fx-row-vert-cent flex-wrap">
      <span class="tertiary">Count:</span>
      <span class="bg-selected-container ml-10 p-5 border-rad-4 selected-primary">{{ count.nodes }} Node{{ count.nodes | plural }}</span>
      <span class="bg-selected-container ml-8 p-5 border-rad-4 selected-primary">{{ count.producers }} Producer{{ count.producers | plural }}</span>
      <span class="bg-selected-container ml-8 p-5 border-rad-4 selected-primary">{{ count.snarkers }} Snarker{{ count.snarkers | plural }}</span>
      <span class="bg-selected-container ml-8 p-5 border-rad-4 selected-primary">{{ count.seeders }} Seeder{{ count.seeders | plural }}</span>
      <span class="bg-selected-container ml-8 p-5 border-rad-4 selected-primary">{{ count.transactionGenerators }} Transaction Generator{{ count.transactionGenerators | plural }}</span>
    </div>
    <div class="flex-row">
      <button class="h-sm btn-primary mr-5"
              [class.disabled]="isLoading"
              (click)="toggleShowLatencyFromFastest()">Show latency from {{ latencyFromFastest ? 'second' : '' }} fastest</button>
      <button class="h-sm btn-primary mr-5"
              [class.disabled]="isLoading"
              (click)="toggleNodesShowing()">Show {{ showOffline ? 'active' : 'all' }} nodes</button>
    </div>
  </div>
</div>

<div class="row2 fx-row-vert-cent flex-wrap h-100 pl-12 h-50">
  <span class="tertiary mr-10 f-600">{{ isLoading ? 'Loading' : 'Block' }} candidates</span>
  <ng-container *ngIf="!isLoading">
    <button *ngFor="let filter of allFilters"
            (click)="toggleFilter(filter)"
            class="mr-5 border-rad-6 f-600 fx-row-vert-cent"
            [ngClass]="'btn-' + (activeFilters.includes(filter) ? 'selected' : 'primary')">
      <span>{{ filter | truncateMid }}</span>
    </button>
  </ng-container>
</div>
