@import 'src/assets/styles/utilities/variables';

.mina-table {
	$col0: 80px;
	$col1: 170px;
	$col2: 490px;
	$col3: 90px;
	//$col4: 60px;
	//$col5: 100px;
	//$col6: 120px;
	//$col7: 110px;
	//$col8: 110px;

	.row {
		grid-template-columns: $col0 $col1 $col2 $col3;
		color: $base-tertiary;

		&:not(.head) {
			cursor: pointer;
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: $col0 + $col1 + $col2 + $col3;
		overflow-x: hidden;
	}
}
