@import 'variables';

:host {
	height: 80px;
}

.pagination-group {
	button {
		background-color: transparent;
		color: $selected-primary;

		&:hover {
			background-color: $selected-container;
		}
	}
}
