<mina-horizontal-menu [template]="template" [clz]="'pl-12'"></mina-horizontal-menu>

<ng-template #template>
  <div class="fx-row-vert-cent flex-between w-100">
    <div class="fx-row-vert-cent shrink-0">
      <button class="mr-5"
              [ngClass]="'btn-' + (filter.workers.length === 0 ? 'selected' : 'primary')"
              (click)="getAllWorkers()">All
      </button>
      <button class="h-sm fx-row-vert-cent flex-between mr-5"
              #dropdownTrigger
              [ngClass]="'btn-' + (filter.workers.length === 0 ? 'primary' : 'selected')"
              (click)="openDropdown($event)">
        <div class="fx-row-vert-cent">
          <span>
            {{ filter.workers.length === 0 ? 'Select' : (filter.workers.length + ' worker' + (filter.workers.length | plural)) }}
          </span>
          <span class="mina-icon" [class.tertiary]="filter.workers.length === 0">arrow_drop_down</span>
        </div>
      </button>
      <div class="ml-16 tertiary f-600">Time range</div>
      <button class="pl-10 pr-10 ml-10 mr-10 overflow-hidden fx-row-vert-cent"
              [ngClass]="'btn-' + (activeInterval ? 'selected' : 'secondary')"
              (click)="openIntervalPicker($event)">
        <span class="truncate">{{ activeInterval ?? 'Select' }}</span>
        <div *ngIf="activeInterval"
             (click)="clearTimestampInterval($event)"
             class="icon-wrap ml-10 fx-row-full-cent">
          <span class="mina-icon f-20">close</span>
        </div>
      </button>
    </div>
    <div class="tertiary pr-12 shrink-0">{{ data.workers.length }} workers, {{ data.jobs.length }} jobs</div>
  </div>
</ng-template>

<ng-template #dropdown>
  <div class="dropdown border-rad-4 popup-box-shadow-weak flex-column border bg-surface overflow-hidden"
       (clickOutside)="detachWorkerSelector()">
    <div class="overflow-auto h-100 p-10 monospace">
      <div *ngFor="let worker of data.workers; let i=index"
           class="dropdown-item fx-row-vert-cent flex-between pointer pl-8 pr-8 border-rad-4 mb-5"
           [class.active]="filter.workers.includes(worker)"
           (click)="toggleWorker(worker)">
        <span class="mina-icon f-20">check_small</span>
        <span>{{ worker | truncateMid }}</span>
      </div>
    </div>
  </div>
</ng-template>
