@import 'src/assets/styles/utilities/layout';
@import 'src/assets/styles/utilities/variables';

.icon-wrap {
	width: 24px;
	height: 24px;
	margin-right: -10px;

	&:hover {
		background-color: $selected-container;
		filter: brightness(160%);
	}
}
