@import 'variables';

.container {
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
	opacity: 0;
	transform: translateY(20px);
	transition: 150ms ease-in;

	&.animate {
		opacity: 1;
		transform: translateY(0);
	}
}

.grid-preset-row {
	display: grid;
	grid-template-columns: 50px auto auto auto auto auto auto auto auto auto;
	grid-gap: 2px;
	align-items: center;
	padding: 16px;
}

.grid-row {
	display: grid;
	grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
	grid-gap: 2px;
	margin-bottom: 4px;

	.mina-input:first-of-type {
		border-radius: 4px 0 0 4px;
	}

	.mina-input:last-of-type {
		border-radius: 0 4px 4px 0;
	}
}

.mina-input {
	background-color: $base-container;
	color: $base-primary;
	border: none;
	padding: 0 4px;
	height: 24px;
	outline: none;
	font-family: inherit;

	&::-webkit-input-placeholder {
		color: $base-tertiary;
	}

	&:-moz-placeholder {
		color: $base-tertiary;
	}

	&:hover, &:focus {
		background-color: $base-divider;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	&[type=number] {
		-moz-appearance: textfield;
	}

	&.input-error {
		background-color: $warn-container;
		color: $warn-primary;
	}
}

.now {
	width: 43px;
	border-radius: 6px;
	background-color: $base-container;
	color: $base-secondary;
	padding: 0 8px;

	&:hover {
		background-color: $base-divider;
	}
}
