@import 'variables';

.bg-base {
	background-color: $base-background;
}

.bg-surface {
	background-color: $base-surface;
}

.bg-surface-top {
	background-color: $base-surface-top;
}

.bg-container {
	background-color: $base-container;
}

.bg-selected-container {
	background-color: $selected-container;
}

.bg-transparent {
	background-color: transparent;
}

.bg-success-container {
	background-color: $success-container;
}

.bg-success-primary {
	background-color: $success-container;
}

.bg-warn-container {
	background-color: $warn-container;
}

.bg-aware-container {
	background-color: $aware-container;
}

.bg-container-hover:hover {
	background-color: $base-container;
}
