@import 'variables';

.border {
	border: 1px solid $base-divider !important;
}

.border-rad-8 {
	border-radius: 8px !important;
}

.border-rad-6 {
	border-radius: 6px !important;
}

.border-rad-4 {
	border-radius: 4px !important;
}

.border-rad-2 {
	border-radius: 2px !important;
}

.border-top {
	border-top: 1px solid $base-divider;
}

.border-bottom {
	border-bottom: 1px solid $base-divider;
}

.border-right {
	border-right: 1px solid $base-divider;
}

.border-left {
	border-left: 1px solid $base-divider;
}

.border-remove {
	border: none !important;
}

.popup-box-shadow-weak {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.no-transition {
	transition: none !important;
}

.opacity-0 {
	opacity: 0 !important;
}

.user-none {
	user-select: none;
}
