.h-100 {
	height: 100% !important;
}

.h-100vh {
	height: 100vh !important;
}

.h-50 {
	height: 50% !important;
}

.w-50 {
	width: 50% !important;
}

.w-100 {
	width: 100% !important;
}

.h-xs {
	height: 20px !important;
}

.h-sm {
	height: 24px !important;
}

.h-md {
	height: 32px !important;
}

.h-lg {
	height: 36px !important;
}

.h-xl {
	height: 40px !important;
}

.h-xxl {
	height: 44px !important;
}

.h-minus-xs {
	height: calc(100% - 20px) !important;
}

.h-minus-sm {
	height: calc(100% - 24px) !important;
}

.h-minus-md {
	height: calc(100% - 32px) !important;
}

.h-minus-lg {
	height: calc(100% - 36px) !important;
}

.h-minus-xl {
	height: calc(100% - 40px) !important;
}

.h-minus-xxl {
	height: calc(100% - 48px) !important;
}

.h-minus-lg-doubled {
	height: calc(100% - 72px) !important;
}

.w-sm {
	width: 24px !important;
}

.w-md {
	width: 32px !important;
}

.w-lg {
	width: 36px !important;
}

.lh-sm {
	line-height: 24px;
}

.lh-md {
	line-height: 32px;
}

.lh-lg {
	line-height: 36px;
}

.lh-xl {
	line-height: 40px;
}

@mixin h-sm() {
	@extend .h-sm;
}

@mixin h-md() {
	@extend .h-md;
}

@mixin h-lg() {
	@extend .h-lg;
}

@mixin h-xl() {
	@extend .h-xl;
}

@mixin w-sm() {
	@extend .w-sm;
}

@media (max-width: 768px) {
	.h-xs {
		height: 24px !important;
	}

	.h-sm {
		height: 32px !important;
	}

	.h-md {
		height: 36px !important;
	}

	.h-lg {
		height: 40px !important;
	}

	.h-xl {
		height: 44px !important;
	}

	.h-xxl {
		height: 48px !important;
	}

	.h-minus-xs {
		height: calc(100% - 24px) !important;
	}

	.h-minus-sm {
		height: calc(100% - 32px) !important;
	}

	.h-minus-md {
		height: calc(100% - 36px) !important;
	}

	.h-minus-lg {
		height: calc(100% - 40px) !important;
	}

	.h-minus-xl {
		height: calc(100% - 44px) !important;
	}

	.h-minus-xxl {
		height: calc(100% - 48px) !important;
	}

	.w-sm {
		width: 32px !important;
	}

	.w-md {
		width: 36px !important;
	}

	.w-lg {
		width: 40px !important;
	}

	.lh-sm {
		line-height: 32px;
	}

	.lh-md {
		line-height: 36px !important;
	}

	.sm-h-100 {
		height: 100% !important;
	}
}
