@import 'variables';

.f-10 {
	font-size: 10px !important;
}

.f-12 {
	font-size: 12px !important;
}

.f-14 {
	font-size: 14px !important;
}

.f-14 {
	font-size: 14px !important;
}

.f-16 {
	font-size: 16px !important;
}

.f-18 {
	font-size: 18px !important;
}

.f-20 {
	font-size: 20px !important;
}

.f-22 {
	font-size: 22px !important;
}

.f-40 {
	font-size: 40px !important;
}

.f-48 {
	font-size: 48px !important;
}

.f-600 {
	font-weight: 600;
}

.f-500 {
	font-weight: 500;
}

.f-400 {
	font-weight: 400;
}

.f-300 {
	font-weight: 300;
}

.monospace {
	font-family: $mono-font;
}
