.p-relative {
	position: relative !important;
}

.p-absolute {
	position: absolute !important;
}

.p-absolute-cover {
	position: absolute !important;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.z-0 {
	z-index: 0;
}

.z-1 {
	z-index: 1;
}

.d-flex {
	display: flex !important;
}

.d-block {
	display: block !important;
}

.d-inline-block {
	display: inline-block !important;
}

.d-none {
	display: none !important;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-auto {
	overflow-x: auto;
	overflow-y: auto;
}

.overflow-x-auto {
	overflow-x: auto;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.overflow-y-auto {
	overflow-y: auto;
}

.overflow-y-hidden {
	overflow-y: hidden;
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.overflow-visible {
	overflow: visible;
}

.hidden {
	visibility: hidden !important;
}

.flex-1 {
	flex: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-grow {
	flex-grow: 1;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-column-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.flex-between {
	justify-content: space-between;
}

.flex-around {
	justify-content: space-around;
}

.flex-end {
	justify-content: flex-end;
}

.flex-start {
	justify-content: flex-start;
}

.flex-center {
	justify-content: center;
}

.flex-stretch {
	justify-content: stretch;
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.align-center {
	align-items: center;
}

.align-stretch {
	align-items: stretch;
}

.align-content-start {
	align-content: flex-start;
}

@mixin flexRow() {
	@extend .flex-row;
}

@mixin flexRowVertCenter() {
	@extend .d-flex;
	@extend .flex-row;
	@extend .align-center;
}

@mixin flexRowFullCenter() {
	@extend .d-flex;
	@extend .flex-row;
	@extend .align-center;
	@extend .flex-center;
}

@mixin flexColumn() {
	@extend .flex-column;
}

/* PADDINGS */

.p-0 {
	padding: 0 !important;
}

.p-5 {
	padding: 5px !important;
}

.p-8 {
	padding: 8px !important;
}

.p-10 {
	padding: 10px !important;
}

.pt-0 {
	padding-top: 0 !important;
}

.pt-5 {
	padding-top: 5px !important;
}

.pt-8 {
	padding-top: 8px !important;
}

.pt-10 {
	padding-top: 10px !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.pb-5 {
	padding-bottom: 5px !important;
}

.pb-8 {
	padding-bottom: 8px !important;
}

.pb-10 {
	padding-bottom: 10px !important;
}

.pr-0 {
	padding-right: 0 !important;
}

.pr-5 {
	padding-right: 5px !important;
}

.pr-8 {
	padding-right: 8px !important;
}

.pr-10 {
	padding-right: 10px !important;
}

.pl-0 {
	padding-left: 0 !important;
}

.pl-5 {
	padding-left: 5px !important;
}

.pl-8 {
	padding-left: 8px !important;
}

.pl-10 {
	padding-left: 10px !important;
}

.p-12 {
	padding: 12px !important;
}

.pl-12 {
	padding-left: 12px !important;
}

.pr-12 {
	padding-right: 12px !important;
}

.pt-12 {
	padding-top: 12px !important;
}

.pb-12 {
	padding-bottom: 12px !important;
}

/* MARGINS */

.m-auto {
	margin: auto !important;
}

.m-0 {
	margin: 0 !important;
}

.m-5 {
	margin: 5px !important;
}

.m-8 {
	margin: 8px !important;
}

.m-10 {
	margin: 10px !important;
}

.ml-0 {
	margin-left: 0 !important;
}

.ml-5 {
	margin-left: 5px !important;
}

.ml-8 {
	margin-left: 8px !important;
}

.ml-10 {
	margin-left: 10px !important;
}

.ml-16 {
	margin-left: 16px !important;
}

.mr-0 {
	margin-right: 0 !important;
}

.mr-5 {
	margin-right: 5px !important;
}

.mr-8 {
	margin-right: 8px !important;
}

.mr-10 {
	margin-right: 10px !important;
}

.mr-16 {
	margin-right: 16px !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-5 {
	margin-bottom: 5px !important;
}

.mb-8 {
	margin-bottom: 8px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.mb-16 {
	margin-bottom: 16px !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt-5 {
	margin-top: 5px !important;
}

.mt-8 {
	margin-top: 8px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mt-16 {
	margin-top: 16px !important;
}
