.m-0 {
	margin: 0 !important;
}

.m-5 {
	margin: 5px !important;
}

.m-8 {
	margin: 8px !important;
}

.m-10 {
	margin: 10px !important;
}

.ml-0 {
	margin-left: 0 !important;
}

.ml-5 {
	margin-left: 5px !important;
}

.ml-8 {
	margin-left: 8px !important;
}

.ml-10 {
	margin-left: 10px !important;
}

.ml-16 {
	margin-left: 16px !important;
}

.mr-0 {
	margin-right: 0 !important;
}

.mr-5 {
	margin-right: 5px !important;
}

.mr-8 {
	margin-right: 8px !important;
}

.mr-10 {
	margin-right: 10px !important;
}

.mr-16 {
	margin-right: 16px !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-5 {
	margin-bottom: 5px !important;
}

.mb-8 {
	margin-bottom: 8px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.mb-16 {
	margin-bottom: 16px !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt-5 {
	margin-top: 5px !important;
}

.mt-8 {
	margin-top: 8px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mt-16 {
	margin-top: 16px !important;
}

.mr--5 {
	margin-right: -5px !important;
}

.ml--5 {
	margin-left: -5px !important;
}
