@import 'variables';

@media (min-width: 700px) {
	/* --- Scrollbar --- */
	::-webkit-scrollbar {
		width: 16px;
	}

	::-webkit-scrollbar-track {
		background-color: $base-surface;
	}

	::-webkit-scrollbar-thumb {
		background-color: $base-tertiary;
		border-radius: 8px;
		border-width: 4px;
		border-style: solid;
		border-color: transparent;
		background-clip: content-box;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: $base-secondary;
		border-radius: 8px;
		border-width: 2px;
		border-style: solid;
		border-color: transparent;
		background-clip: content-box;
	}

	.transparent-scrollbar-track::-webkit-scrollbar-track {
		background-color: transparent;
	}
}
