@import 'variables';

.primary {
	color: $base-primary !important;
}

.secondary {
	color: $base-secondary !important;
}

.tertiary {
	color: $base-tertiary !important;
}

.container {
	color: $base-container !important;
}

.divider {
	color: $base-divider !important;
}

.selected-primary {
	color: $selected-primary !important;
}

.selected-secondary {
	color: $selected-secondary !important;
}

.success-primary {
	color: $success-primary !important;
}

.warn-primary {
	color: $warn-primary !important;
}

.warn-secondary {
	color: $warn-secondary !important;
}

.aware-primary {
	color: $aware-primary !important;
}

.cta-primary {
	color: $cta-primary !important;
}

.cta-secondary {
	color: $cta-secondary !important;
}

.primary-hover:hover {
	color: $base-primary !important;
}

.secondary-hover:hover {
	color: $base-secondary !important;
}

.tertiary-hover:hover {
	color: $base-tertiary !important;
}

.error {
	color: $warn-primary !important;
	fill: $warn-primary !important;
}

.orange {
	opacity: 0.85;
	color: $chart-yellow-red-2 !important;
	fill: $chart-yellow-red-2 !important;
}

.warn {
	opacity: 0.7;
	color: $chart-yellow-red-1 !important;
	fill: $chart-yellow-red-1 !important;
}
