$base-primary: var(--base-primary);
$base-secondary: var(--base-secondary);
$base-tertiary: var(--base-tertiary);
$base-container: var(--base-container);
$base-divider: var(--base-divider);
$base-surface: var(--base-surface);
$base-background: var(--base-background);
$base-surface-top: var(--base-surface-top);

$success-primary: var(--success-primary);
$success-secondary: var(--success-secondary);
$success-tertiary: var(--success-tertiary);
$success-divider: var(--success-divider);
$success-container: var(--success-container);

$aware-primary: var(--aware-primary);
$aware-secondary: var(--aware-secondary);
$aware-tertiary: var(--aware-tertiary);
$aware-container: var(--aware-container);

$warn-primary: var(--warn-primary);
$warn-secondary: var(--warn-secondary);
$warn-tertiary: var(--warn-tertiary);
$warn-container: var(--warn-container);

$selected-primary: var(--selected-primary);
$selected-secondary: var(--selected-secondary);
$selected-tertiary: var(--selected-tertiary);
$selected-container: var(--selected-container);

$chart-yellow-red-5: var(--chart-yellow-red-5);
$chart-yellow-red-4: var(--chart-yellow-red-4);
$chart-yellow-red-3: var(--chart-yellow-red-3);
$chart-yellow-red-2: var(--chart-yellow-red-2);
$chart-yellow-red-1: var(--chart-yellow-red-1);
$chart-yellow-red-0: var(--chart-yellow-red-0);
$chart-yellow-red-grey: var(--chart-yellow-red-grey);
$chart-green-blue-5: var(--chart-green-blue-5);
$chart-green-blue-4: var(--chart-green-blue-4);
$chart-green-blue-3: var(--chart-green-blue-3);
$chart-green-blue-2: var(--chart-green-blue-2);
$chart-green-blue-1: var(--chart-green-blue-1);
$chart-green-blue-0: var(--chart-green-blue-0);
$chart-classic-yellow: var(--chart-classic-yellow);
$chart-classic-yellow-light: var(--chart-classic-yellow-light);
$chart-classic-purple: var(--chart-classic-purple);
$chart-classic-purple-light: var(--chart-classic-purple-light);
$chart-classic-blue: var(--chart-classic-blue);
$chart-classic-blue-light: var(--chart-classic-blue-light);

$code-red: var(--code-red);
$code-green: var(--code-green);
$code-yellow: var(--code-yellow);
$code-blue: var(--code-blue);
$code-magenta: var(--code-magenta);
$code-teal: var(--code-teal);

$special-surface: var(--special-surface);
$special-selected-alt-3-primary: var(--special-selected-alt-3-primary);

$cta-primary: var(--cta-primary);
$cta-secondary: var(--cta-secondary);
$cta-container: var(--cta-container);

$inter-font: 'Inter', sans-serif;
$mono-font: "IBM Plex Mono", monospace;
$raleway-font: 'Raleway', sans-serif;
